@import "@styles/vars.less";

.settings_wrapper {
    display: flex;
    flex-direction: row;

    justify-content: center;

    width: 100%;
    max-width: 90%;

    padding-bottom: 20px;

    .settings_menu {
        position: sticky;

        top: 0;
        left: 0;

        height: fit-content;

        display: flex;
        flex-direction: column;

        align-items: center;

        width: 250px;
        min-width: 250px;

        padding: 0 30px;

        gap: 3px;

        .ant-menu-item-group-list {
            display: flex;
            flex-direction: column;

            width: 100%;
            gap: 3px;
        }

        .menu-item-content {
            display: flex;
            flex-direction: row;

            align-items: center;

            height: fit-content;

            gap: 10px;

            svg {
                margin: 0 !important;
            }
        }

        .ant-menu-item {
            padding: 0 !important;
            padding-inline: 20px !important;
            margin: 0;

            border-radius: 24px;

            .ant-menu-title-content {
                height: fit-content;
            }
        }

        .ant-menu-item-danger {
            .ant-menu-title-content {
                svg {
                    color: #ff4d4f;
                }

                color: #ff4d4f;
            }
        }
    }

    .settings_content {
        display: flex;
        flex-direction: column;

        width: 700px;

        gap: 10px;

        .settings_content_group {
            position: relative;

            display: flex;
            flex-direction: column;

            color: var(--background-color-contrast);
            background-color: var(--background-color-accent);

            border-radius: 12px;

            padding: 15px;

            gap: 15px;

            .settings_content_group_header {
                position: relative;

                width: 100%;

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    margin: 0;
                    color: var(--background-color-contrast);
                }
            }

            .settings_list {
                display: flex;
                flex-direction: column;

                gap: 30px;

                width: 100%;
            }
        }

        .footer {
            position: relative;
            width: 100%;

            padding-top: 20px;
            padding-bottom: 20px;

            display: flex;
            flex-direction: column;

            justify-content: center;
            align-items: center;

            >div {
                margin-bottom: 10px;

                font-family: "DM Mono", monospace;
                font-size: 10px;

                display: flex;
                flex-direction: row;

                align-items: center;
                justify-content: center;

                .ant-tag {
                    height: 18px;
                    line-height: 18px;
                    font-size: 10px;
                }

                >div {
                    padding: 0 7px;
                }
            }
        }
    }
}