@import "theme/vars.less";

.settings_wrapper {
    display: flex;
    flex-direction: row;

    justify-content: center;

    padding-bottom: 20px;

    .settings_menu {
        position: sticky;

        top: 0;
        left: 0;

        height: fit-content;

        display: flex;
        flex-direction: column;

        align-items: center;

        width: 30%;
        max-width: 300px;

        padding: 0 30px;

        .ant-menu-item-danger {
            .ant-menu-title-content {
                svg {
                    color: #ff4d4f;
                }

                color: #ff4d4f;
            }
        }
    }

    .settings_content {
        display: flex;
        flex-direction: column;

        width: 100%;
        max-width: 700px;

        gap: 20px;

        .settings_content_group {
            position: relative;

            display: flex;
            flex-direction: column;

            color: var(--background-color-contrast);
            background-color: var(--background-color-accent);

            border-radius: 12px;

            padding: 20px;

            gap: 20px;

            .settings_content_group_header {
                position: absolute;

                width: 100%;

                top: 0;
                left: 0;

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    margin: 0;
                    color: var(--background-color-contrast);
                }

                //-webkit-box-shadow: @card-shadow;
                //-moz-box-shadow: @card-shadow;
                //box-shadow: @card-shadow;      

                padding: 20px;

                border-radius: 12px;
            }

            .settings_content_group_settings {
                display: flex;
                flex-direction: column;

                margin-top: 50px;

                gap: 30px;

                .settings_content_group_item {
                    display: flex;
                    flex-direction: column;

                    padding: 0 20px;

                    .settings_content_group_item_header {
                        display: inline-flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;

                        width: 100%;

                        .settings_content_group_item_header_title {
                            display: flex;
                            align-items: center;
                            color: var(--background-color-contrast);

                            h1,
                            h2,
                            h3,
                            h4,
                            h5,
                            h6 {
                                margin: 0;
                                color: var(--background-color-contrast);
                            }

                            p {
                                font-size: 11px;
                                color: var(--background-color-contrast);
                                margin: 0;
                            }

                            >div {
                                margin-right: 10px;
                            }
                        }

                        .settings_content_group_item_header_actions {
                            display: inline-flex;
                            align-items: center;

                            gap: 10px;

                            .ant-btn {
                                background-color: var(--background-color-primary-2);
                            }

                            .ant-btn:not([disabled]) {
                                &:hover {
                                    color: var(--colorPrimary);
                                    border: 1px solid var(--colorPrimary);
                                }
                            }
                        }
                    }

                    .settings_content_group_item_component {
                        display: flex;
                        flex-direction: column;

                        --ignore-dragger: true;
                        padding: 6px 20px;

                        span {
                            color: var(--background-color-contrast);
                        }
                    }
                }
            }
        }

        .footer {
            position: relative;
            width: 100%;

            padding-top: 20px;
            padding-bottom: 20px;

            display: flex;
            flex-direction: column;

            justify-content: center;
            align-items: center;

            >div {
                margin-bottom: 10px;

                font-family: "DM Mono", monospace;
                font-size: 10px;

                display: flex;
                flex-direction: row;

                align-items: center;
                justify-content: center;

                .ant-tag {
                    height: 18px;
                    line-height: 18px;
                    font-size: 10px;
                }

                >div {
                    padding: 0 7px;
                }
            }
        }
    }
}