@Theme-Shade-1: #ff971d;
@Theme-Shade-2: #ffe8d6;
@Theme-Shade-3: #f9f6f7;
@Theme-Shade-4: #ffffff;

@Theme-Shade-Color: #f9f6f7;
@Theme-Layout-Backgroud: #FAFAFA; 
@Theme-SiderDeco-Backgroud: #4D91EA;
@Theme-SiderDeco-Color: #f9f6f7;

@Theme-Hover-Backgroud: rgba(107, 162, 235, 0.507);