.trending-page {
    display: flex;
    flex-direction: column;

    gap: 20px;

    width: 100%;

    .trending-page-header {
        display: flex;
        flex-direction: column;
    }

    .trending-page-content {
        display: flex;
        flex-direction: column;
    }
}