.searchButton {
	.searchBox {
        .adm-search-bar-input {
            transition: all 150ms ease-in-out;
            width: 0px;
        }
        
		&.open {
            .adm-search-bar-input {
                width: 20vw;
            }
		}
	}

	svg {
		margin: 0;
	}
}
