.saveButton {
    border: 0 !important;

    transition: all 150ms ease-in-out;

    background: transparent !important;
    background-color: transparent !important;

    &.active {
        color: var(--primaryColor);

        svg {
            color: var(--primaryColor);
        }
    }

    svg {
        width: 20px;
        height: 20px;

        transition: all 150ms ease-in-out;
    }
}