@borderRadius: 12px;

.accountProfile {
	padding: 0 20px;

	.cover {
		z-index: 50;
		position: relative;
		border-radius: @borderRadius @borderRadius 0 0;

		outline: 1px solid var(--border-color);
		content: "";

		width: 100%;

		background-position: center;
		background-size: cover;

		height: 18vh;

		transform: translate(0, 10px);
	}

	.profileCard {
		z-index: 51;
		position: relative;

		display: flex;
		flex-direction: column;

		color: var(--background-color-contrast);
		background-color: var(--background-color-primary);

		border: 1px solid var(--border-color);
		border-radius: @borderRadius;

		padding: 20px 15px;

		.basicData {
			display: inline-flex;
			flex-direction: row;
			justify-content: space-between;

			margin-bottom: 15px;

			.avatar {
				width: 100px;
				height: 100px;

				img {
					width: 100%;
					height: 100%;
					border-radius: 8px;
				}
			}

			svg {
				fill: var(--appColor);
			}

			.title {
				display: inline-flex;
				flex-direction: row;
				align-items: center;
			}

			.field {
				display: inline-flex;
				flex-direction: column;

				margin-right: 15px;

				h1 {
					margin: 0;

					font-size: 35px;
					line-height: 37px;
				}

				>div {
					display: inline-flex;
				}
			}
		}

		.description {
			p {
				word-break: break-all;
				margin: 0;
			}
		}

		.extension {
			position: relative;
			display: inline-flex;

			top: -10px;
			width: 100%;
			padding: 19px 10px 10px 10px;

			border-top: 0;
			border-right: 0;

			border-style: solid;
			border-width: 1px;

			border-color: var(--border-color);
			border-top-color: transparent;

			border-radius: 0 0 @borderRadius @borderRadius;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		span,
		p {
			user-select: text;
		}
	}

	.tabs {
		transform: translate(0, -20px);
		position: relative;
		z-index: 55;

		.ant-tabs-nav-wrap {
			justify-content: flex-end;
		}

		.ant-tabs-nav {
			margin: 0 20px 20px 0;
		}

		.ant-tabs-nav::before {
			border: none !important;
		}

		.ant-tabs-tab {
			margin-right: 20px !important;
			padding: 8px 20px !important;

			border-color: var(--border-color) !important;
			background-color: var(--background-color-primary) !important;

			border-radius: 4px !important;

			svg {
				font-size: 1rem;
				margin: 0 !important;
			}
		}
	}
}