.ant-popover-inner-content {
    height: fit-content;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    .player-volume_slider {
        height: 150px;
        padding-bottom: 10px;
    }
}