.usernameValidity {
    display: flex;
    flex-direction: column;

    align-self: start;
    margin-top: 20px;

    .check {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-bottom: 8px;

        svg {
            margin: 0;
            padding: 0;
        }

        p {
            margin: 0;
            margin-left: 10px;
        }
    }
}

.passwordsInput {
    display: flex;
    flex-direction: column;

    .password {
        margin-bottom: 20px;
    }
}

.passwordPolicy {
    display: flex;
    flex-direction: column;

    align-self: start;
    margin-top: 20px;
}