.music-library {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 15px;

    .music-library_header {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: space-between;

        h1 {
            margin: 0;
        }
    }

    .music-library-content {
        display: flex;
        flex-direction: column;

        gap: 15px;
    }
}