.recently_played {
    display: flex;
    flex-direction: column;

    gap: 10px;

    .recently_played-header {
        display: flex;
        flex-direction: row;

        align-items: center;

        gap: 10px;

        font-size: 1rem;
    }
}