.errors {
    margin-top: 12px;

	.error {
        margin-bottom: 10px;
        
		svg {
			color: red;
			margin-right: 10px;
		}
        .stack {
            margin-left: 24px;
            word-wrap: break-word;
        }
	}
}
