.commentCreator {
    display: flex;

    flex-direction: column;

    align-items: right;

    width: 100%;
    height: 100%;

    .ant-input {
        background-color: var(--background-color-accent) !important;

        border: none !important;
        outline: none !important;
    }

    .ant-btn {
        width: fit-content;
        margin-top: 20px;
    }
}