.commentCreator {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    transition: height 150ms ease-in-out;

    .ant-input {
        position: relative;

        height: 100%;
        width: 100%;

        padding: 5px 10px;

        background-color: var(--background-color-accent);
        border-color: transparent !important;
        box-shadow: none;

        transition: height 150ms linear;

        border-radius: 8px 0 0 8px;
    }

    .ant-btn {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;

        border-radius: 0 8px 8px 0;
        border: none;
        box-shadow: none;

        svg {
            margin: 0 !important;
        }
    }
}