.commentCreator {
    display: inline-flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    transition: height 150ms ease-in-out;

    .ant-input {
        position: relative;

        height: 100%;
        min-height: 4.5vh;

        width: 100%;

        padding: 5px 10px;

        background-color: var(--background-color-accent);
        border-color: transparent !important;
        box-shadow: none;

        transition: height 150ms linear;
    }

    .ant-btn {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        min-height: 4.5vh;

        border-radius: 0 10px 10px 0;
        border: none;
        box-shadow: none;

        svg {
            margin: 0 !important;
        }
    }
}