@import '~theme/index.less';

.main {
  font-family: "Nunito", sans-serif;
  margin: 20px 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: auto;
  color: @__Global_layout_color;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;

  .debuggerComponent {
    padding: 15px;
  }

  :global {
    .ant-menu-inline {
      color: @__Global_layout_color;
      background-color: transparent;
      border: none;
    }

    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      font-weight: bold;
    }
    
    .ant-list-item {
      padding-top: 7px;
      padding-bottom: 7px;
    }

    .ant-list-split .ant-list-item {
      border-bottom: 0;
    }

    .ant-list-item-meta-title {
      color: rgba(0, 0, 0, 0.733);
      font-size: 14px;
    }
  }
}
