@min-item-size: 200px;

.music-releases-list {
	display: flex;
	flex-direction: column;

	overflow-x: visible;

	.music-releases-list-header {
		display: flex;
		flex-direction: row;

		align-items: center;

		margin-bottom: 20px;

		h1 {
			font-size: 1.5rem;
			margin: 0;
		}

		.music-releases-list-actions {
			display: flex;
			flex-direction: row;

			gap: 10px;

			align-self: center;

			margin-left: auto;
		}
	}

	.music-releases-list-items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(@min-item-size, 1fr));
		gap: 10px;
		/* display: grid;

		grid-gap: 20px;
		grid-template-columns: repeat(2, 1fr);

		@media (min-width: 768px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (min-width: 1000px) {
			grid-template-columns: repeat(4, 1fr);
		}

		@media (min-width: 1500px) {
			grid-template-columns: repeat(7, 1fr);
		}

		@media (min-width: 1600px) {
			grid-template-columns: repeat(7, 1fr);
		}

		@media (min-width: 1920px) {
			grid-template-columns: repeat(9, 1fr);
		} */

		.playlist {
			justify-self: center;
			//min-width: 372px !important;

			width: unset;
			height: unset;

			min-width: @min-item-size;
			min-height: @min-item-size;
		}
	}
}
