@import "theme/vars.less";

.sidedrawers-wrapper {
    display: flex;
    flex-direction: row;

    .sidedrawer {
        position: relative;

        width: 30vw; // by default
        height: 100vh;

        min-width: 700px;

        z-index: 20;

        background-color: var(--sidedrawer-background-color);
        border-radius: 0 @app_sidebar_borderRadius @app_sidebar_borderRadius 0;

        padding: 20px;
        padding-left: 70px;

        transform: translate(-50px, 0);

        overflow-x: hidden;
        overflow-y: overlay;

        word-break: break-all;
        transition: all 250ms ease-in-out;

        &.hided {
            width: 0;
            min-width: 0;
            padding: 0;
        }
    }
}