.splash-wrapper {
	background-color: #252525;
	position: absolute;
	z-index: 0;

	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	animation: background-fade 5.1s linear 0.5s;
	animation-fill-mode: forwards;
}

.glow {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	opacity: 0;

	animation: glow-splash 4.1s ease-out 0.5s;
	animation-fill-mode: forwards;

	filter: blur(160px);
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
	will-change: contents;
	background: conic-gradient(
		from 230.29deg at 51.63% 52.16%,
		#2400ff 0deg,
		#0087ff 67.5deg,
		#ff1d7a 198.75deg,
		#f5381b 251.25deg,
		#ff5335 301.88deg,
		#691eff 360deg
	);
}

.bouncy-logo {
	will-change: transition, opacity, z-index;
	position: absolute;
	z-index: 3;

	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;

	justify-content: center;
}

.bouncy-logo .ball {
	animation: logo-bounce 0.5s alternate infinite forwards;
}

.bouncy-logo .ball svg {
	opacity: 1;
	width: 200px;
	height: 200px;
	margin: auto;

	stroke-width: 1.5;
	stroke-opacity: 1;

	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;

	fill: transparent;

	animation: logo-reveal 5.1s ease-out 0.5s forwards, logo-stroke 2.1s ease-out 0s forwards,
		logo-transform 5.1s ease-out 0s forwards;
}

@keyframes glow-splash {
	0% {
		opacity: 0;
		-webkit-animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
		animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
	}

	15% {
		opacity: 1;
		-webkit-animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
		animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
	}
	97% {
		z-index: 4;
	}
	100% {
		z-index: 4;
		opacity: 0.28;
	}
}

@keyframes background-fade {
	0% {
		-webkit-animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
		animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
	}

	15% {
		-webkit-animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
		animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
	}

	60% {
		background-color: #f0f2f5;
	}

	100% {
		background-color: #f0f2f5;
	}
}

@keyframes logo-bounce {
	from {
		transform: translate(0, -10px);
	}
	to {
		transform: translate(0, 10px);
	}
}

@keyframes logo-transform {
	0% {
		animation-timing-function: cubic-bezier(0, 0, 0.3rem, 1);
		transform: scale(5) rotate(65deg);
		filter: blur(10px);
	}
	17% {
		filter: unset;
	}
	18% {
		filter: drop-shadow(0 0 80px rgba(255, 255, 255, 1));
	}
	19% {
		transform: rotate(5deg);
	}
	100% {
		transform: scale(0.8) rotate(0deg);
	}
}

@keyframes logo-reveal {
	0% {
		-webkit-animation-timing-function: cubic-bezier(0, 0, 0.3rem, 1);
		animation-timing-function: cubic-bezier(0, 0, 0.3rem, 1);
	}
	7% {
		fill: transparent;
	}
	10% {
		fill: rgba(225, 225, 225, 0.8);
	}
	40% {
		fill: rgba(225, 225, 225, 0.8);
	}
	100% {
		fill: rgba(51, 51, 51, 0.8);
	}
}

@keyframes logo-stroke {
	0% {
		stroke-opacity: 0;
	}
	10% {
		stroke-opacity: 1;
	}
	100% {
		stroke-dashoffset: 0;
		stroke-opacity: 0;
	}
}