.music-studio-page {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 20px;

    .music-studio-page-header {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: space-between;

        width: 100%;
    }

    .music-studio-page-content {
        display: flex;
        flex-direction: column;

        width: 100%;
    }
}