.playlistExplorer {
    display: flex;
    flex-direction: column;

    width: 100%;

    max-width: 70vw;

    overflow: visible;

    .playlistExplorer_section {
        display: flex;
        flex-direction: column;

        margin-bottom: 50px;

        .playlistExplorer_section_header {
            h1 {
                font-size: 1.5rem;
            }
        }

        .playlistExplorer_section_list {
            display: flex;
            //flex-direction: row;
            flex-wrap: wrap;

            max-height: 30vh;

            align-items: center;

            gap: 20px;

            overflow-x: scroll;
        }
    }
}

.playlistItem {
    position: relative;
    display: flex;
    flex-direction: row;

    cursor: pointer;

    width: 15vw;
    height: 10vh;

    min-width: 450px;
    max-width: 850px;

    border-radius: 12px;

    transition: all 0.2s ease-in-out;

    background-color: var(--background-color-accent);
    border-radius: 8px;

    &:hover {
        .playlistItem_cover {
            transform: scale(1.1);
        }

        .playlistItem_info {
            transform: translateX(10px);
        }
    }

    .image-wrapper {
        width: 10vh;
        height: 10vh;

        border-radius: 8px;

        overflow: hidden;

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    .playlistItem_cover {
        height: 10vh;

        transition: all 0.2s ease-in-out;

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            border-radius: 8px;
        }
    }

    .playlistItem_info {
        display: flex;
        flex-direction: column;
        
        width: 100%;
        max-width: 265px;

        padding: 10px;

        transition: all 0.2s ease-in-out;

        .playlistItem_info_title {
            font-size: 1rem;
            font-weight: 600;
            color: var(--background-color-contrast);
            font-family: "Space Grotesk", sans-serif;

            overflow: hidden;

            h1,
            h4 {
                overflow: hidden;

                text-overflow: ellipsis;
                white-space: nowrap;
                margin: 0;
            }
        }

        // set userPreview to the bottom of the playlistItem_info
        .userPreview {
            margin-top: auto;
            font-size: 0.8rem;

            h1 {
                font-size: 0.8rem;
            }

            .avatar {
                display: flex;
                flex-direction: row;

                align-items: center;
                justify-content: center;
                
                width: 30px;
                height: 30px;
            }
        }
    }

    .playlistItem_actions {
        display: flex;
        flex-direction: column;

        align-self: flex-end;
        justify-self: flex-end;

        justify-content: center;
        align-items: center;

        height: 100%;

        padding: 10px;

        .ant-btn {
            svg {
                margin: 0 !important;
            }
        }
    }
}