.music_navbar {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: 20px;

    background-color: var(--background-color-accent);

    border-radius: 12px;
}

.musicExplorer {
    display: flex;
    flex-direction: column;

    overflow-x: visible;
    overflow-y: overlay;

    width: 100%;
    height: 100%;

    gap: 20px;

    &.search-focused {
        .feed_main {
            height: 0px;
            opacity: 0;
        }
    }

    .feed_main {
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;

        gap: 50px;

        transition: all 0.2s ease-in-out;

        overflow-x: visible;
    }

    .playlistExplorer_section {
        display: flex;
        flex-direction: column;

        overflow-x: visible;

        .playlistExplorer_section_header {
            display: flex;
            flex-direction: row;

            align-items: center;

            margin-bottom: 20px;

            h1 {
                font-size: 1.5rem;
                margin: 0;
            }

            .playlistExplorer_section_header_actions {
                display: flex;
                flex-direction: row;

                gap: 10px;

                align-self: center;

                margin-left: auto;
            }
        }

        .playlistExplorer_section_list {
            display: flex;
            flex-direction: column;

            gap: 10px;
        }
    }
}

.playlistItem {
    position: relative;
    display: flex;
    flex-direction: row;

    cursor: pointer;

    width: 100%;
    height: 140px;

    border-radius: 12px;

    transition: all 0.2s ease-in-out;

    background-color: var(--background-color-accent);

    &.cover-hovering {
        .playlistItem_cover {
            transform: scale(1.1);

            .playlistItem_cover_mask {
                opacity: 1;
            }
        }

        .playlistItem_info {
            transform: translateX(10px);
        }
    }

    .playlistItem_cover {
        position: relative;

        height: 140px;

        transition: all 0.2s ease-in-out;

        img {
            width: 140px;
            height: 140px;

            object-fit: cover;
            border-radius: 8px;

            background-color: black;

            z-index: 50
        }

        .playlistItem_cover_mask {
            position: absolute;

            top: 0;
            left: 0;

            display: flex;

            align-items: center;
            justify-content: center;

            width: 100%;
            height: 100%;

            opacity: 0;

            transition: all 0.2s ease-in-out;

            z-index: 55;

            background-color: rgba(var(--layoutBackgroundColor), 0.6);
            color: var(--text-color);

            font-size: 3rem;
        }
    }

    .playlistItem_info {
        display: flex;
        flex-direction: column;

        width: 100%;

        padding: 10px;

        max-width: calc(100% - 10vh);

        transition: all 0.2s ease-in-out;

        .playlistItem_info_title {
            font-size: 1rem;
            font-weight: 600;

            color: var(--background-color-contrast);
            font-family: "Space Grotesk", sans-serif;

            &:hover {
                text-decoration: underline;
            }

            h1,
            h4 {
                overflow: hidden;

                text-overflow: ellipsis;
                white-space: nowrap;

                margin: 0;
            }
        }

        // set userPreview to the bottom of the playlistItem_info
        .userPreview {
            margin-top: auto;
            font-size: 0.8rem;

            h1 {
                font-size: 0.8rem;
            }

            .avatar {
                display: flex;
                flex-direction: row;

                align-items: center;
                justify-content: center;

                width: 30px;
                height: 30px;
            }
        }
    }

    .playlistItem_actions {
        display: flex;
        flex-direction: column;

        align-self: flex-end;
        justify-self: flex-end;

        justify-content: center;
        align-items: center;

        height: 100%;

        padding: 10px;

        .ant-btn {
            svg {
                margin: 0 !important;
            }
        }
    }
}

.music-explorer_search_results {
    display: grid;

    width: 100%;

    // if only need 1 column, it will be 1fr
    // if need 2 colums, first column will be 1fr, and the second one will be 2fr
    grid-template-columns: 1fr 2fr;

    // auto generate rows
    grid-template-rows: auto;

    grid-column-gap: 20px;
    grid-row-gap: 20px;

    @media screen and (max-width: 1750px) {
        display: flex;
        flex-direction: column;
        align-items: center;

        .music-explorer_search_results_group_list {
            .playlistItem {
                width: 100% !important;
                max-width: 100% !important;
            }
        }
    }

    &.one_column {
        grid-template-columns: 1fr;
    }


    &.no_results {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }

    .music-explorer_search_results_group {
        background-color: var(--background-color-accent);

        padding: 20px;

        border-radius: 8px;

        height: fit-content;
        width: 100%;

        gap: 20px;

        .explorer_search_results_group_header {
            h1 {
                margin: 0;
            }
        }

        .music-explorer_search_results_group_list {
            display: flex;
            flex-direction: column;

            gap: 10px;

            .playlistItem {
                background-color: var(--background-color-primary);

                max-width: 300px;
                height: 80px;

                .playlistItem_cover {
                    width: 80px;
                    height: 80px;

                    img {
                        height: 80px;
                        width: 80px;
                    }
                }
            }

            .music-track {
                background-color: var(--background-color-primary);
            }
        }
    }
}