.PlayerContainer {
  max-width: 100vw;
  max-height: 75vh;

  img {
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 47%;
    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -350px;
  }

  video {
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 47%;
    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -350px;
  }

  h3 {
    color: rgb(85, 85, 85);
    font-weight: 470;
  }
}
