.post-header {
    display: flex;
    flex-direction: column;

    gap: 10px;

    .post-header-replied_to {
        display: flex;
        flex-direction: column;

        gap: 7px;

        .post-header-replied_to-label {
            display: flex;
            flex-direction: row;

            gap: 7px;

            align-items: center;

            svg {
                color: var(--text-color);
                margin: 0 !important;
            }

            line-height: 1.5rem;
        }
    }

    .post-header-user {
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        >div {
            margin-right: 10px;
        }

        svg {
            fill: var(--app-color);
            margin-left: 6px;
        }

        .post-header-user-avatar {
            width: 40px;
            height: 40px;

            img {
                object-fit: cover;

                width: 40px;
                height: 40px;
                border-radius: 8px;
            }
        }

        .post-header-user-info {
            display: inline-flex;
            flex-direction: column;

            align-items: flex-start;

            width: fit-content;

            h1 {
                margin: 0 0 4px 0;

                align-self: start;

                font-weight: 500;
                font-size: 1rem;

                cursor: pointer;

                color: var(--background-color-contrast);
            }

            .post-header-user-info-timeago {
                font-weight: 400;
                font-size: 0.7rem;

                color: rgb(var(--bg_color_4));
            }

            >div {
                align-self: start;
            }
        }
    }
}