.post_header {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;

    .user {
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        margin-bottom: 15px;

        >div {
            margin-right: 10px;
        }

        svg {
            fill: var(--appColor);
            margin-left: 6px;
        }

        .avatar {
            width: 40px;
            height: 40px;

            img {
                object-fit: cover;

                width: 40px;
                height: 40px;
                border-radius: 8px;
            }
        }

        .info {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;

            text-align: start;

            width: fit-content;

            color: var(--background-color-contrast);

            h1 {
                color: var(--background-color-contrast);
                margin: 0;
                font-family: "DM Mono", monospace;
                align-self: start;
                font-size: 1rem;
                cursor: pointer;
            }

            >div {
                align-self: start;
            }
        }
    }

    .statistics {
        display: inline-flex;
        flex-direction: column;
        font-size: 16px;

        color: var(--background-color-contrast);
        height: fit-content;

        .item {
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;
            height: fit-content;

            margin-left: 20px;
            margin-bottom: 5px;

            .icon {
                &.filled {
                    color: var(--primaryColor);
                    fill: var(--primaryColor);
                }
            }

            .value {
                font-family: "DM Mono", monospace;
                font-size: 14px;
            }
        }
    }
}