.user-share-badge {
    width: 400px;
    height: 240px;

    border-radius: 24px;

    // background-color: rgb(255, 96, 100);
    // background-image: radial-gradient(circle, currentcolor 0%, transparent 110%);

    outline: 2px solid var(--border-color);

    padding: 20px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
        color: currentColor;
        margin: 0;
    }

    .user-share-badge-info {
        display: flex;
        flex-direction: column;

        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        background-color: rgba(var(--bg_color_4), 0.4);

        width: fit-content;

        padding: 10px;
        border-radius: 12px;

        .user-share-badge-avatar {
            display: flex;
            flex-direction: column;

            img {
                border-radius: 12px;
            }
        }

        .user-share-badge-username {
            display: flex;
            flex-direction: column;

            font-size: 1.3rem;
        }
    }
}