.emoji-picker {
	overflow: hidden;

	width: 100%;
	max-width: 100%;

	height: 100%;

	&__list {
		overflow: hidden;
		overflow-y: scroll;

		height: 100%;

		display: grid;
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: auto;
		grid-column-gap: 5px;
		grid-row-gap: 5px;

		span {
			display: flex;

			align-items: center;
			justify-content: center;

			font-size: 1.3rem;
			cursor: pointer;

			border-radius: 8px;

			&:hover {
				background-color: rgba(var(--bg_color_1), 0.7);
			}
		}
	}
}
