.page_header_wrapper {
    display: flex;
    flex-direction: column;

    gap: 10px;

    position: sticky;

    z-index: 100;

    top: 0;
    left: 0;

    width: 100%;

    margin-bottom: 20px;
    padding: 5px;

    backdrop-filter: blur(10px);

    background-color: rgba(var(--background-color-accent-values), 0.8);

    border-radius: 12px;
    border: 1px solid var(--border-color);

    overflow: hidden;

    &.hidden {
        opacity: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }
}