.profile_links_editor {
    display: flex;
    flex-direction: column;

    gap: 10px;

    .profile_links_field {
        display: flex;
        flex-direction: row;

        align-items: center;

        gap: 5px;

        .profile_links_field_input {
            display: flex;
            flex-direction: column;

            width: 100%;

            gap: 5px;

            p {
                margin: 0;
            }
        }

        .profile_links_field_removebtn {
            align-self: flex-end;
        }
    }
}