.soundpad-dialog__custom-url {
	display: flex;
	flex-direction: column;

	gap: 10px;
	width: 100%;

	padding: 10px;

	background-color: var(--background-color-primary-2);
	border: 3px solid var(--border-color);
	border-radius: 12px;

	&__header {
		display: flex;
		flex-direction: column;

		width: 100%;

		span {
			font-size: 0.7rem;
			opacity: 0.8;
		}
	}

	.ant-input-affix-wrapper {
		background-color: transparent;
	}
}
