.cover-editor {
    display: flex;

    flex-direction: column;
    width: 100%;

    gap: 10px;

    .cover-editor-preview {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        width: 100%;

        padding: 7px;

        background-color: var(--background-color-accent);

        border-radius: 12px;

        .lazy-load-image-background {
            max-width: 200px;
            max-height: 200px;

            img {
                height: 200px;
                width: 200px;

                border-radius: 12px;

                object-fit: cover;
            }
        }
    }

    .cover-editor-actions {
        display: flex;
        flex-direction: row;

        gap: 20px;
    }
}