.steped-form {
	display: flex;
	flex-direction: column;

	gap: 40px;

	width: 100%;

	.steped-form-header {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.steped-form-content {
		display: flex;
		flex-direction: column;

		gap: 10px;
		width: 100%;
	}

	.steped-form-content-actions {
		display: flex;
		flex-direction: row;

		justify-content: flex-end;

		gap: 10px;
	}
}
