# Secrets
/**/**/.env
/**/**/origin.server
/**/**/server.manifest
/**/**/server.registry

# Trash
/**/**/.crash.log
/**/**/.tmp
/**/**/.cache
/**/**/out
/**/**/.out
/**/**/dist
/**/**/node_modules
/**/**/corenode_modules
/**/**/.DS_Store
/**/**/package-lock.json
/**/**/yarn.lock
/**/**/.evite
/**/**/d_data

# Logs
/**/**/npm-debug.log*
/**/**/yarn-error.log
/**/**/dumps.log
/**/**/corenode.log

# Temporal configurations
/**/**/.aliaser