# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock

# production
/build
/dist
/out

# umi
/packages/**/src/.umi
/packages/**/src/.umi-production
/packages/**/src/.umi-test
/packages/**/.env.local

/packages/*/src/.umi
/packages/*/src/.umi-production
/packages/*/src/.umi-test
/packages/*/.env.local

/.env.local

/packages/*/node_modules
/packages/**/node_modules