services:
  redis:
    image: docker.dragonflydb.io/dragonflydb/dragonfly:latest
    container_name: comty-redis
    restart: unless-stopped
    ulimits:
      memlock: -1
    networks:
      - redis_network
    command: "dragonfly --logtostderr --cache_mode=true --maxmemory=8gb --cluster_mode=emulated --lock_on_hashtags --default_lua_flags=allow-undeclared-keys"
  scylla:
    image: scylladb/scylla:latest
    container_name: comty-scylla
    restart: unless-stopped
    networks:
      - scylla_network
    volumes:
      - ./scylla/data:/var/lib/scylla
      - ./scylla/conf:/etc/scylla
      - ./scylla/logs:/var/log/scylla
    environment:
      - SCYLLA_ARGS=--overprovisioned
  mongodb:
    image: mongo:latest
    container_name: comty-mongodb
    restart: unless-stopped
    networks:
      - mongodb_network
    volumes:
      - ./mongodb/data:/data/db

  server:
    build: packages/server
    container_name: comty-api
    restart: unless-stopped
    networks:
      - api_network
      - mongodb_network
      - scylla_network
      - redis_network
    ports:
      - "9000:9000" # API HTTP/WS Gateway port
      - "10000-10001:10000-10001" # WebRTC signaling ports
    env_file:
      - ./.env
    environment:
      - NODE_ENV=production
      - REDIS_ADDRESS=comty-redis
      - SCYLLA_ADDRESS=comty-scylla
      - MONGODB_ADDRESS=comty-mongodb

  web:
    build: packages/wrapper
    container_name: comty-web
    restart: unless-stopped
    ports:
      - "5000:5000"
    env_file:
      - ./.env

networks:
  api_network:
  mongodb_network:
  scylla_network:
  redis_network:
