@import "theme/vars.less";

.tools-bar-wrapper {
    position: sticky;

    top: 0;
    right: 0;

    max-width: 20vw;
    min-width: 320px;

    height: 100vh;
    height: 100dvh;

    padding: 10px;
}

.tools-bar {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    border-radius: 12px;

    border-radius: @sidebar_borderRadius;
    box-shadow: @card-shadow;

    background-color: var(--background-color-accent);

    gap: 20px;

    &.visible {
        padding: 10px;
    }

    .card {
        display: flex;
        flex-direction: column;

        background-color: var(--background-color-primary);
        border-radius: 12px;

        padding: 20px;

        isolation: isolate;

        h1,
        h2 {
            width: fit-content;
            margin: 0;
        }

        &.header {
            position: relative;

            display: flex;
            flex-direction: row;

            justify-content: space-between;
            align-items: center;

            width: 100%;

            margin-bottom: 10px;

            z-index: 50;

            -webkit-box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 var(--shadow-color);
            -moz-box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 var(--shadow-color);
            box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 var(--shadow-color);
        }

        &.content {
            position: relative;

            transform: translateY(-30px);
            padding-top: 35px;

            z-index: 45;
        }
    }

    .attached_renders {
        position: sticky;

        bottom: 0;
        right: 0;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: flex-end;

        width: 100%;

        height: 100%;

        gap: 10px;
    }
}