.changePasswordPrompt {
    display: flex;

    flex-direction: column;

    .title {
        margin-bottom: 20px;
    }

    .form {
        display: flex;
        flex-direction: column;

        .item {
            margin-bottom: 10px;
        }
    }
}