@import '~themes/vars.less';
.PostsWrapper{
    margin: auto;
    align-content: center;
    align-items: center;
    :global {
        .ant-back-top {
            position: absolute;
            z-index: 100000000;
          }
    }

}