.profile-creator {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 10px;

    .profile-creator-actions {
        display: flex;
        flex-direction: row;

        width: 100%;

        justify-content: flex-end;

        gap: 10px;
    }
}