.skeleton-run {
	&__body {
		position: fixed;
		z-index: 99999999;

		left: 0;
		bottom: 0;

		height: 400px;

		animation: skeleton-run 3s linear;
		animation-play-state: paused;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__eyes {
		position: fixed;

		top: 0;
		right: 0;

		font-size: 10rem;
	}
}

@keyframes skeleton-run {
	from {
		left: 0%;
	}
	to {
		left: 100%;
	}
}
