.app_sidebar_sider_edit .ant-layout-sider-children{
    margin-top: 15px!important;

    .app_sidebar_menu_wrapper {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
} 

.sidebar_editor_deleteBtn:hover{
    color: red;
    cursor: pointer;
}