.emoji-picker-dialog {
	display: flex;

	width: 310px;
	max-height: 400px;

	overflow: hidden;

	&__list {
		overflow: hidden;
		overflow-y: scroll;

		display: grid;
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: auto;
		grid-column-gap: 5px;
		grid-row-gap: 5px;

		span {
			display: flex;

			align-items: center;
			justify-content: center;

			font-size: 1.3rem;
			cursor: pointer;

			border-radius: 8px;

			&:hover {
				background-color: rgba(var(--bg_color_1), 0.7);
			}
		}
	}
}

.emoji-picker-popover {
	transform: translateX(-54%) !important;
}
