@import "@styles/vars.less";

button {
	position: relative;

	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: center;

	gap: 5px;

	margin: 0;
	padding: 8px 13px;

	cursor: pointer;
	background: none;
	border: none;
	outline: none;

	border-radius: var(--borderRadius);
	color: var(--textColor);

	// TODO: use global-wide var for transition parameters
	// instead of a fixed one
	transition-property:
		width, height, filter, background-color, border-color, outline, border,
		opacity;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;

	// adjust text
	font-weight: 500;
	white-space: nowrap;

	&.default {
		background-color: var(--backgroundColorAccent);
		outline: 2px solid var(--border-color);
	}

	// primary background-color
	&.primary {
		//background-color: var(--colorPrimary);
		background-color: color-mix(
			in oklab,
			var(--colorPrimary),
			var(--backgroundColorAccent) 15%
		);
	}

	// if ghost, remove the background & border
	&.ghost {
		background-color: unset;
		outline: none;
	}

	&.danger {
		background-color: var(--danger-color);
		outline: 2px solid var(--border-color);
	}

	// disabled state
	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
		pointer-events: none;
	}

	// reactivity feedback for hover state
	&:hover:not(:disabled) {
		filter: brightness(1.2);
	}

	.button-icon {
		display: flex;
		flex-direction: row;

		align-items: center;
		justify-content: center;

		width: 16px;
		height: 16px;

		.button-icon-spinner {
			display: flex;
			flex-direction: row;

			align-items: center;
			justify-content: center;

			width: 100%;
			height: 100%;

			svg {
				stroke-width: 2px;
			}
		}
	}

	&.only-icon {
		padding: 6px 13px;
	}
}
