.load-icon-spinner {
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;

	width: 1.2em;
	height: 1.2em;

	svg {
		stroke-width: 2px;
	}
}
