.crashWrapper {
    position: absolute;

    width: 100vw;
    height: 100vh;
    
    top: 0;
    left: 0;

    z-index: 10000;

    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}