.widgets-manager {
    display: flex;
    flex-direction: column;

    gap: 20px;

    .widgets-manager-list {
        display: flex;
        flex-direction: column;

        gap: 10px;

        .widgets-manager-list-item {
            display: flex;
            flex-direction: row;

            align-items: center;
            justify-content: space-between;

            padding: 10px;

            border: 1px var(--border-color) solid;
            border-radius: 12px;

            .widgets-manager-list-item-info {
                display: flex;
                flex-direction: row;

                gap: 20px;
            }

            .widgets-manager-list-item-icon {
                display: flex;
                flex-direction: row;

                align-items: center;
                justify-content: center;

                align-self: center;

                height: 60px;
                width: 60px;

                img {
                    height: 100%;
                    width: 100%;

                    object-fit: contain;
                }
            }
        }
    }
}