.group-page__header {
	position: relative;

	z-index: 100;

	overflow: hidden;

	width: 100%;
	height: fit-content;

	background-color: var(--background-color-accent);

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	border-radius: 12px;

	gap: 20px;

	&.cover_light {
		.group-page__header__content__text {
			color: var(--text-color-black);
		}
	}

	&.has_banner {
		height: 100%;

		max-height: 120px;
		min-height: 120px;

		.group-page__header__content {
			height: 100%;
		}

		.group-page__header__content__text {
			opacity: 1;

			h1 {
				-webkit-text-stroke: 1.5px rgba(var(--cover-av-color), 0.5);
			}
		}
	}

	&__cover {
		position: absolute;

		z-index: -1;

		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		opacity: 0.6;

		.lazy-load-image-background {
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;

				object-fit: cover;
			}
		}
	}

	&__content {
		position: relative;

		display: flex;
		flex-direction: row;

		align-items: flex-end;

		width: 100%;
		height: fit-content;

		padding: 10px;
		gap: 20px;

		//	backdrop-filter: blur(1px);

		&__text {
			display: flex;
			flex-direction: column;
			justify-content: center;

			font-size: 0.9rem;

			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			p,
			span {
				color: currentColor;
			}
		}
	}

	&__actions {
		position: relative;
		display: flex;
		flex-direction: row;

		margin-left: auto;

		gap: 10px;
	}
}
