.post_actions_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    position: relative;

    width: 100%;
    height: 40px;

    padding: 20px;

    transition: all 0.2s ease-in-out;

    .actions {
        display: inline-flex;
        flex-direction: row;

        transition: all 0.2s ease-in-out;

        width: 100%;

        .action {
            display: inline-flex;
            flex-direction: row;

            align-items: center;
            justify-content: center;

            transition: all 150ms ease-in-out;

            margin-right: 20px;


            &:last-child {
                margin-right: 0;
            }

            &:hover {
                .icon {
                    svg {
                        color: var(--colorPrimary) !important;
                    }
                }
            }
        }

        svg {
            margin: 0 !important;
        }
    }
}