.screenshare-dialog {
	display: flex;
	flex-direction: column;

	width: 100%;

	gap: 15px;

	&__header {
		display: flex;
		flex-direction: column;
	}

	&__selectors {
		display: flex;
		flex-direction: row;

		align-items: center;

		width: 100%;

		gap: 20px;

		padding: 0 20px;

		&__field {
			display: flex;
			flex-direction: row;
			align-items: center;

			gap: 10px;

			&__icon {
				svg {
					font-size: 1.3rem;
					color: var(--text-color);
				}
			}
		}
	}

	&__actions {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		gap: 10px;
	}
}
