.timeCalculation {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1200px;

    * {
        user-select: unset;
    }

    .ant-select {
        width: 100%;
    }

    .simulatedTimezone {
        display: flex;
        flex-direction: row;

        .field {
            display: flex;
            flex-direction: column;

            margin-right: 30px;
        }

        margin-bottom: 40px;
    }
}