.post_card {
    position: relative;

    display: flex;
    flex-direction: column;

    //max-height: 500px;
    //height: fit-content;

    width: 100%;
    max-width: 700px;

    gap: 15px;
    padding: 17px 17px 0px 17px;

    background-color: var(--background-color-accent);

    //border-bottom: 2px solid var(--border-color);
    border-radius: 8px;

    color: rgba(var(--background-color-contrast));

    transition: all 0.2s ease-in-out;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
        color: var(--text-color);
    }

    .post_content {
        position: relative;

        display: flex;
        flex-direction: column;

        width: 100%;

        gap: 10px;

        color: var(--text-color);

        .nsfw_alert {
            position: absolute;

            z-index: 200;

            padding: 10px 0;

            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: center;

            width: 100%;
            height: 100%;

            border-radius: 8px;

            backdrop-filter: blur(25px);
            -webkit-backdrop-filter: blur(25px);

            background-color: rgba(0, 0, 0, 0.5);

            h2 {
                color: #fff;
            }
        }
    }
}