.mediartc-voice-devices {
	position: relative;

	display: flex;
	flex-direction: row;

	width: 100%;
	gap: 10px;

	&__select {
		position: relative;

		display: flex;
		flex-direction: column;
		gap: 5px;

		width: 50%;
		max-width: 50%;
	}
}
