.streamingControlPanel {
    display: flex;
    flex-direction: column;

    width: 100%;

    transition: all 0.3s ease-in-out;

    .header {
        display: flex;
        flex-direction: row;

        height: fit-content;

        padding: 15px;

        border: 1px solid var(--border-color);
        border-radius: 12px;

        margin-bottom: 20px;

        transition: all 0.3s ease-in-out;

        .preview {
            height: 100%;
            width: 300px;

            img {
                width: 100%;
                height: 100%;

                border-radius: 12px;
            }

            margin-right: 40px;
        }

        .details {
            display: inline-flex;
            flex-direction: column;

            padding: 20px 0;
            width: 100%;

            .status {
                margin-bottom: 20px;
            }
        }
    }

    .config {
        display: flex;
        flex-direction: column;

        padding: 0 40px;

        transition: all 0.3s ease-in-out;

        code {
            padding: 5px 8px;
            font-size: 1rem;

            background-color: var(--background-color-accent);
            color: var(--text-color);

            border-radius: 8px;

            font-family: "DM Mono", monospace;

            user-select: all;
        }

        .panel {
            display: flex;
            flex-direction: column;

            align-items: flex-start;


            h1,
            h2,
            h3 {
                margin-bottom: 0;
            }

            .content {
                .title {
                    display: inline-flex;
                    flex-direction: row;
    
                    justify-content: space-between;
    
                    width: 100%;
                }

                display: flex;
                flex-direction: column;

                margin: 10px 20px;

                width: 100%;
            }
        }
    }
}

.streamingKeyString {
    display: inline-flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    color: var(--text-color);

    svg {
        font-size: 1.5rem;

        cursor: pointer;
    }

    div {
        display: inline-flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;
    }
}

.streamInfoEditor {
    display: flex;
    flex-direction: column;

    .field {
        display: flex;
        flex-direction: column;

        margin-bottom: 20px;

        .value {
            margin-top: 5px;
            margin-left: 20px;

            .ant-select {
                min-width: 200px;
            }
        }
    }
}