.group-page__channels-panel {
	display: flex;
	flex-direction: column;

	gap: 10px;

	width: 400px;
	min-width: 260px;

	&__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		width: 100%;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 10px;

		width: 100%;
	}
}
