@import "theme/vars.less";

.navmenu_wrapper {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;

    width: 100%;

    .navmenu_item {
        font-size: 0.7rem;
        display: flex;
        flex-direction: row;

        align-items: center;

        height: fit-content;

        gap: 4px;

        padding: 8px 10px;

        &.active {
            color: var(--colorPrimary);
        }

        p {
            margin: 0;
        }

        .icon {
            margin: 0;
            line-height: 1rem;
            font-size: 1.5rem;

            font-size: 1rem;
        }

        .label {
            height: fit-content;
            line-height: 1rem;
            font-size: 0.8rem;
        }
    }
}