@import "@styles/vars.less";

html {
	&.mobile {
		.navmenu_wrapper {
			.navmenu_item {
				&.active {
					color: var(--colorPrimary) !important;
					background-color: var(--background-color-primary);
				}

				.icon {
					font-size: 1.5rem;
				}
			}
		}
	}
}

.navmenu_wrapper {
	display: flex;
	flex-direction: row;

	justify-content: space-evenly;

	width: 100%;

	.navmenu_item {
		display: flex;
		flex-direction: row;

		align-items: center;

		height: fit-content;

		gap: 4px;

		padding: 8px 10px;

		&.active {
			.icon {
				color: var(--colorPrimary);
			}

			background-color: var(--background-color-primary);
		}

		.icon {
			margin: 0;
			line-height: 1rem;
			font-size: 1rem;
		}

		.label {
			height: fit-content;
			line-height: 1rem;
			font-size: 0.8rem;
		}
	}
}
