@import "./vars.less";

:root {
	--adm-color-background: var(--background-color-primary);
}

.ant-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	svg {
		margin: 0 !important;
	}

	gap: 10px;

	span {
		margin: 0;
		line-height: 1rem;
	}
}

.ant-tour {
	width: fit-content;
}

// Fixments
.ant-result-extra {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ant-modal-confirm-btns {
	display: flex;
}

.ant-message {
	svg {
		margin: 0;
	}
}

// fix results
.ant-result {
	.ant-result-content {
		display: inline-flex;
		flex-direction: column;

		align-items: center;
		justify-content: center;

		text-align: center;

		padding: 10px;
		background-color: var(--background-color-accent);
		color: var(--background-color-primary);

		h1,
		h2,
		h3,
		h4,
		h5,
		p,
		span {
			margin: 0;
		}
	}
}

.ant-result-body {
	backdrop-filter: blur(5px);
}

.ant-select {
	padding: 2.4px 10px;

	.ant-select-suffix {
		color: var(--text-color);
	}
}

.ant-select-dropdown {
	backdrop-filter: blur(5px);
	border: 1px solid var(--border-color);
}

.ant-dropdown-menu {
	background-color: rgba(var(--layoutBackgroundColor), 0.8) !important;
	backdrop-filter: blur(3px);

	.ant-dropdown-menu-item {
		.ant-dropdown-menu-title-content {
			display: flex;
			flex-direction: row;

			align-items: center;

			gap: 8px;
		}
	}
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled) {
	&:hover {
		filter: brightness(130%);
	}
}

.ant-btn-primary[disabled] {
	opacity: 0.5 !important;

	svg {
		color: unset !important;
	}

	span {
		color: unset !important;
		margin: 0;
	}
}

.ant-btn[disabled] {
	opacity: 0.5 !important;
}

.ant-btn-dangerous {
	span {
		color: var(--danger-color);
	}
}

.ant-btn[disabled],
.ant-btn[disabled]:hover,
.ant-btn[disabled]:focus,
.ant-btn[disabled]:active {
	background-color: var(--background-color-accent);
}

// fix sliders colors
.ant-slider-handle {
	&::after {
		box-shadow: none !important;
		outline: 4px solid var(--border-color-solid) !important;
		transition: all 150ms ease-in-out !important;
	}

	&:focus {
		&::after {
			outline: 4px solid var(--colorPrimary) !important;
		}
	}
}

// fix menu colors
.ant-menu,
.ant-menu ul {
	border-right: 0 !important;

	.ant-menu-item {
		display: inline-flex;
		flex-direction: row;

		align-items: center;
		justify-content: flex-start;

		width: 100%;

		padding: 10px 10px 10px 25px !important;
		margin: 3px 0;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		span,
		p {
			color: inherit;
		}

		// active dash
		&::before {
			content: "";
			display: block;
			position: absolute;

			top: auto;
			left: 5px;

			transition: all 150ms ease-in-out;

			background-color: var(--colorPrimary);

			width: @menu-selected-item-dash-width;

			border-radius: @menu-selected-item-dash-border-radius;

			// by default set opacity & height to 0
			opacity: 0;
			height: 0;
		}

		.ant-menu-title-content {
			transition: @transition-ease-inout !important;
		}
	}
}

.ant-menu-sub {
	padding-left: 40px !important;
}

.ant-menu-submenu {
	.ant-menu-submenu-title {
		color: var(--background-color-contrast) !important;

		svg {
			color: var(--background-color-contrast);
		}

		.ant-menu-title-content {
			color: var(--background-color-contrast);
		}
	}
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	&::after {
		opacity: 0;
	}

	&::before {
		opacity: 1;

		height: @menu-selected-item-dash-height;
	}
}

.ant-modal-container {
	backdrop-filter: blur(5px);
	border: 3px solid var(--border-color) !important;
}

.ant-notification {
	display: flex;
	flex-direction: column;

	z-index: 9999999;

	gap: 20px;

	.ant-notification-notice-wrapper {
		//outline: 1px solid var(--border-color) !important;
		backdrop-filter: blur(5px);

		padding: 20px;
	}

	.ant-notification-notice {
		display: flex;
		flex-direction: column;

		justify-content: center;

		background-color: var(--background-color-primary);

		border: 0;
		outline: 0;
		padding: 0;

		overflow: hidden;

		.ant-notification-notice-close-x {
			svg {
				margin: 0 !important;
			}
		}

		.ant-notification-notice-description {
			display: none;
		}

		.ant-notification-notice-description:not(:empty) {
			display: flex;
		}

		.ant-notification-notice-with-icon {
			display: flex;
			flex-direction: column;

			gap: 10px;

			.ant-notification-notice-message {
				margin: 0 !important;
			}

			.ant-notification-notice-message {
				margin-inline-start: 0 !important;
				margin: 0;
			}

			.ant-notification-notice-description {
				margin-inline-start: 0 !important;
				margin: 0;
			}

			.ant-notification-notice-icon {
				max-width: 40px;

				svg {
					margin: 0 !important;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;

					border-radius: 8px;
				}
			}
		}
	}
}

// fix input
.ant-input,
.ant-mentions {
	::placeholder {
		color: var(--text-color);
		opacity: 0.5;
	}
}

.ant-input-affix-wrapper,
.ant-mentions-affix-wrapper {
	border: 2px solid var(--border-color);

	::placeholder {
		color: var(--text-color);
		opacity: 0.5;
	}
}

.adm-floating-panel {
	.adm-floating-panel-header {
		border-top: 1px solid var(--border-color);
	}
}

.ant-slider-dot {
	background-color: transparent !important;
	border-width: 4px !important;
}

.drawer {
	z-index: 1000;
}

.ant-select-dropdown {
	z-index: 999999;
}

.adm-action-sheet {
	.adm-action-sheet-button-item-wrapper {
		border-bottom-color: var(--border-color);

		.adm-action-sheet-button-item {
			.adm-action-sheet-button-item-name {
				color: var(--text-color);

				span {
					color: currentColor;
				}
			}
		}

		.adm-action-sheet-button-item-danger {
			.adm-action-sheet-button-item-name {
				color: var(--adm-color-danger);
			}
		}
	}
}

.ant-mentions-dropdown {
	z-index: 999999;
}

.ant-mentions-dropdown-menu-item {
	display: flex !important;
	flex-direction: row;
	align-items: center;

	gap: 10px;
	padding: 5px !important;
}

.ant-menu-item-group-title {
	&:empty {
		padding: 5px;
	}
}

.ant-select-selection-item {
	display: flex !important;
	flex-direction: row;

	gap: 6px;
}

.ant-popover {
	z-index: 999999;
}
