// FLEX
.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

// ALINGMENT
.align-start {
	align-items: flex-start;
}

.align-center {
	align-items: center;
}

.align-end {
	align-items: flex-end;
}

// JUSTIFICATION
.justify-center {
	justify-content: center;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-space-between {
	justify-content: space-between;
}

.justify-space-around {
	justify-content: space-around;
}

.justify-space-evenly {
	justify-content: space-evenly;
}

// GAPS
.gap-10,
.gap10 {
	gap: 10px;
}

.gap-5,
.gap5 {
	gap: 5px;
}

// COLORS & BG
.acrylic-bg {
	background-color: rgba(var(--layoutBackgroundColor), 0.8) !important;
	backdrop-filter: blur(3px);
}