@import '~themes/index.less';

.contentWrapper {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    
    align-items: center;
    margin: auto;

    background: rgba(158, 158, 158, 0.5); // Make sure this color has an opacity of less than 1
    backdrop-filter: blur(10px); // This be the blur
   
    display: flex;
    align-items: center;
    transition: all @__Global_SwapAnimDuration ease-in-out;

}

.contentBody{
   
    position: relative;
    width: calc(100% - @Overlay_container2_active_width);
}