@import '~theme/index.less';

.navbar{
    -webkit-app-region: drag;
    text-align: right;
    
    height: @AppTheme_global_winavbar_height;
    width: 100%;
    position: absolute;
    z-index: 5000;
    top: 0;
    right: 0;
    background-color: rgba(54, 54, 54, 0);
    transition: all 150ms ease-in-out;
}

.navbar:hover{
    background-color: rgba(54, 54, 54, 0.658); 
}

.controls{
    -webkit-app-region: no-drag;
    display: flex;
    text-align: right;
    float: right;
    width: auto;
    margin: auto;
    > div{
        padding: 0 14px;
        svg{
            margin: 0!important;
            padding: 0;
        }
    }
    > div:hover{
        background-color: rgba(54, 54, 54, 0.808); 
        color: #fdfdfd;
    }
    transition: all 150ms ease-in-out;
}

.controls:hover{
    background-color: rgba(54, 54, 54, 0.705);
}