.navbar{
    display: block;
    -webkit-app-region: drag;
    height: 35px;
    width: 100%;
    position: absolute;
    z-index: 5000;
    top: 0;
    right: 0;
    background-color: rgba(45, 45, 45, 0.274);
}