.evite-debugger_warning_bindingDisabled {
    color: rgb(255, 166, 0);
    padding: 10px;
    text-align: center;
}

.evite-debugger_content{
    > div {
        margin-bottom: 15px;
        border: 0.3px solid #ccc;
        border-radius: 4px;
        padding: 5px;
    }
}

code {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    padding: 5px;
    font-size: 12px;
    color:aliceblue;
    margin: 5px;
}