.selectable-text {
    user-select: text;
    --webkit-user-select: text;

    background-color: rgba(var(--bg_color_3), 0.8);

    padding: 5px;
    border-radius: 8px;

    color: var(--text-color);
    font-size: 0.9rem;
}