.comments {
    display: flex;
    flex-direction: column;

    padding: 10px;
    color: var(--text-color);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
        color: var(--text-color);
    }

    .comment {
        position: relative;
        display: flex;
        flex-direction: column;

        margin-bottom: 10px;

        background-color: var(--background-color-accent);

        padding: 10px;

        border-radius: 8px;

        .header {
            display: flex;
            flex-direction: row;
            align-items: center;

            margin-bottom: 15px;

            .avatar {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
            }

            .username {
                font-size: 14px;
                font-weight: 600;
                color: var(--text-color);
            }

            .timeAgo {
                font-size: 12px;
                color: rgb(var(--bg_color_4));
                margin-left: 10px;
            }
        }

        .content {
            font-size: 14px;
            color: var(--text-color);
            margin-left: 20px;
        }

        .deleteBtn {
            position: absolute;

            top: 0;
            right: 0;

            margin: 10px;

            svg {
                font-size: 0.8rem;
            }
        }
    }

    .commentCreatorWrapper {
        position: sticky;
        display: flex;

        flex-direction: column;
        align-items: center;

        bottom: 0;
        right: 0;

        width: 100%;
    }
}