.postsFeed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    .infinite-scroll {
        width: 100%;
    }

    .posts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;

        overflow: overlay;

        >div {
            margin-bottom: 20px;
        }
    }
}