@import '~theme/index.less';

.trendings{
    word-break: break-all;
    padding: 0 5px 0 10px;
    height: auto;
    font-weight: 500;
    
    .hash{
      margin: 5px 0 3px;
      cursor: pointer;
    }

    span{
      margin: 0;
      color: #2196F3;
      font-size: 12px;
      max-height: 35px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    p{
      color: #333;
      font-size: 9px;
    }

  }