.post_content {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0 10px 10px 10px;
    border-radius: 8px;

    color: rgba(var(--background-color-contrast));

    overflow: hidden;

    transition: all 0.2s ease-in-out;

    z-index: 190;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
        color: var(--text-color);
    }

    .nsfw_alert {
        position: absolute;

        padding: 10px 0;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        backdrop-filter: blur(25px);
        background-color: rgba(0, 0, 0, 0.5);

        border-radius: 8px;

        z-index: 200;

        h2 {
            color: #fff;
        }
    }

    .message {
        width: 100%;

        font-size: 14px;
        font-family: "Poppins", sans-serif;

        word-break: break-all;
        user-select: text;

        color: var(--background-color-contrast)
    }

    >div {
        margin-bottom: 10px;
    }
}