.post_content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0 10px 10px 10px;
    border-radius: 8px;

    color: rgba(var(--background-color-contrast));

    overflow: hidden;

    transition: all 0.2s ease-in-out;

    .message {
        width: 100%;

        font-size: 14px;
        font-family: "Poppins", sans-serif;

        word-break: break-all;
        user-select: text;

        color: var(--background-color-contrast)
    }

    >div {
        margin-bottom: 10px;
    }
}