.postList,
.infinite-scroll {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: fit-content;

    // WARN: Only use if is a performance issue
    //will-change: transform;

    overflow: hidden;

    border-radius: 8px;
}