@import "theme/vars.less";

#root {
    &.mobile {
        .post-list {
            overflow: unset;
            overflow-x: hidden;
            overflow-y: overlay;

            height: 100%;

            //padding-top: 5px;
            border-radius: 0;

            .playlistTimelineEntry {
                width: 100%;

                .playlistTimelineEntry_content {
                    .playlistTimelineEntry_thumbnail {
                        img {
                            width: 20vw;
                            height: 20vw;
                        }
                    }
                }
            }

            .postCard {
                width: 100%;
            }
        }
    }
}

.post-list_wrapper {
    display: flex;
    flex-direction: column;

    position: relative;

    width: fit-content;

    //overflow: hidden;
    overflow-y: overlay;

    height: 100%;
    width: 100%;
}

.post-list {
    position: relative;

    // WARN: Only use if is a performance issue (If is using virtualized list)
    //will-change: transform;
    overflow: hidden;
    overflow-y: overlay;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;

    border-radius: 8px;

    margin: auto;
    z-index: 150;
}

.resume_btn_wrapper {
    z-index: 200;

    position: sticky;

    top: 0;
    right: 0;

    padding: 10px;
    background-color: rgba(var(--background-color-accent-values), 0.8);

    border-radius: 8px;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 35vw;
    min-width: 300px;
    max-width: 800px;

    opacity: 0;

    animation: fadeIn 150ms ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}