@import '~themes/vars.less';
.MicroHeader{
    background-color: transparent;
    padding: 0 5px 0 5px;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 100;
    top: 0;
    text-align: center;
    :global {
        .ant-card-body {
            background-color: rgba(0, 0, 0, 0.1);
            max-width: 7%;
            margin: auto;
            padding: 5px;
        }
        .ant-btn {
            background-color: rgba(0, 0, 0, 0.1);
            margin: 3px;
        }
    }
}