.playlistCreator {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;

    transition: all 0.3s ease-in-out;
    
    .actions {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: flex-end;

        gap: 20px;
    }

    .inputField {
        display: inline-flex;
        flex-direction: row;

        align-self: start;
        align-items: center;
        justify-content: flex-start;

        width: 100%;

        margin-bottom: 20px;

        font-size: 2rem;

        color: var(--text-color);

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        span {
            color: var(--text-color);
        }

        .inputText {
            width: 100%;
            color: var(--text-color);
        }

        .coverUploader {
            width: 100px;
        }

        .coverPreview {
            height: 5vh;

            img {
                height: 100%;
                border-radius: 10px;
                margin-right: 10px;
            }

            svg {
                margin: 0 !important;
            }
        }
    }

    .files {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        border: 1px solid var(--border-color);
        border-radius: 8px;

        width: 100%;
        height: 100%;

        padding: 10px;
        margin-bottom: 20px;

        .ant-upload {
            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: center;

            width: 100%;
        }

        .ant-upload-wrapper {
            margin-bottom: 10px;
        }

        .fileList {
            position: relative;

            display: flex;
            flex-direction: column;
            width: 100%;

            .fileListItem {
                position: relative;

                display: inline-flex;
                flex-direction: row;

                align-items: center;

                padding: 10px;

                border-radius: 8px;

                background-color: var(--background-color-accent);

                border: 1px solid var(--border-color);

                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }

                &.uploading {
                    .fileListItem_cover {
                        img {
                            filter: blur(3px);
                        }

                        pointer-events: none;
                    }
                }

                .fileListItem_loadingIcon {
                    position: absolute;
                    top: 0;
                    right: 0;

                    padding: 10px;

                    svg {
                        margin: 0 !important;
                    }
                }

                .ant-btn {
                    svg {
                        margin: 0 !important;
                    }
                }

                .fileListItem_title_label {
                    display: inline-flex;
                    flex-direction: row;

                    align-items: center;
                }

                .fileListItem_cover {
                    display: flex;
                    flex-direction: column;

                    align-items: center;
                    justify-content: center;

                    cursor: pointer;

                    img {
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 12px;
                    }

                    .fileListItem_cover_mask {
                        opacity: 0;
                        backdrop-filter: blur(3px);
                    }

                    &:hover {
                        .fileListItem_cover_mask {
                            opacity: 1;
                        }
                    }
                }

                .fileListItem_details {
                    display: flex;
                    flex-direction: column;

                    align-items: flex-start;
                    justify-content: center;

                    margin-left: 10px;

                    width: 100%;

                    .fileListItem_title {
                        width: 100%;

                        .ant-input {
                            width: 100%;
                        }
                    }
                }

                .fileListItem_actions {
                    display: flex;
                    flex-direction: row;

                    align-items: center;
                    justify-content: center;

                    margin-top: 20px;

                    margin-left: 10px;

                    .ant-btn {
                        svg {
                            margin: 0 !important;
                        }

                        margin-right: 10px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }

            .fileListItem_dragHandle {
                svg {
                    font-size: 1.5rem;
                    margin: 0 !important;
                }
            }
        }

    }

    .uploadHint {
        display: flex;
        flex-direction: column;

        align-self: center;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        svg {
            font-size: 3rem;
        }

        h3 {
            font-size: 1.5rem;
        }
    }

    .footer {
        position: relative;
        padding: 10px;
    }
}