.music-studio-release-editor-tracks {
    display: flex;
    flex-direction: column;

    gap: 10px;

    .music-studio-tracks-uploader {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        width: 100%;

        .ant-upload {
            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: center;

            width: 100%;
        }
    }
}

.music-studio-release-editor-tracks-list {
    display: flex;
    flex-direction: column;

    gap: 10px;
}