.document_viewer {
	display: flex;
	flex-direction: column;

	gap: 5px;

	align-items: start;
	justify-content: start;

	height: 100%;
	width: 100%;

	overflow: auto;

	text-align: start;
	user-select: text;

	word-break: keep-all;

	* {
		user-select: text;
	}

	blockquote {
		display: flex;
		flex-direction: row;

		align-items: center;

		background-color: var(--background-color-accent);
		border-radius: 8px;

		padding: 7px;
		margin: 0;

		border: 2px var(--border-color) solid;

		p {
			margin: 0;
			padding: 0;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	span,
	p,
	a {
		display: inline;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 10px;
		margin-bottom: 5px;
	}

	ul {
		color: var(--text-color);
	}

	ol {
		color: var(--text-color);
	}

	li {
		color: var(--text-color);
	}

	table {
		color: var(--text-color);
		margin: 20px 10px;

		td {
			padding: 7px;
			outline: 1px solid var(--border-color);
		}
	}
}
