@selectableList_item_borderColor_active: rgba(51, 51, 51, 1);
@selectableList_item_borderColor_normal: rgba(51, 51, 51, 0.3);

.selectableList {
	&.selectionEnabled {
		.selectableList_item {
			cursor: pointer;

            border: rgba(51, 51, 51, 0.3) 1px solid;
            border-radius: 8px;
            margin-bottom: 12px;

			h1 {
				user-select: none;
			}
			h3 {
				user-select: none;
			}
		}
		.selectableList_item:hover {
			box-shadow: 2px 2px 8px 0px rgba(51, 51, 51, 0.5);
			border: @selectableList_item_borderColor_active 1px solid;
		}
	}
}

.selectableList_item {
	user-select: none;
	width: 100%;

	border: @selectableList_item_borderColor_normal 1px solid;
    border-radius: 4px;
    
    margin-bottom: 6px;
	padding: 10px;
    
	transition: all 150ms ease-in-out;

	> div {
		margin: 7px;
	}

	&.selected {
		background-color: #f5f5f5;
		transform: translate(10px, 0);
	}
}

.bottomActions_wrapper {
	position: sticky;
	z-index: 1000;

	width: 100%;
	
	bottom: 0;
	left: 0;
	right: 0;

	border-radius: 0;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
