@min-item-width: 250px;
@min-item-height: 150px;

.radio-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(@min-item-width, 1fr));
	gap: 10px;

	width: 100%;

	.radio-item {
		min-width: @min-item-width;
		min-height: @min-item-height;
	}
}
