.poll {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 8px;

    background-color: var(--background-color-primary);
    border-radius: 12px;

    border: 2px solid var(--border-color);

    padding: 10px;

    .poll-option {
        display: flex;
        flex-direction: row;

        align-items: center;

        gap: 10px;

        padding: 5px;

        width: 100%;

        transition: all 150ms ease-in-out;

        border-radius: 6px;

        background-color: var(--background-color-accent);

        cursor: pointer;

        .ant-input {
            background-color: transparent;
            width: 100%;

            border: 0;

            color: var(--text-color);

            &::placeholder {
                color: var(--text-color);
                opacity: 0.5;
            }
        }
    }

    .poll-edit-actions {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: flex-end;

        gap: 10px;
    }
}