.poll {
    display: flex;
    flex-direction: column;

    gap: 8px;

    .poll-option {
        display: flex;
        flex-direction: row;

        width: 100%;

        padding: 10px 20px;

        transition: all 150ms ease-in-out;

        background-color: var(--background-color-accent);
        border-radius: 12px;

        cursor: pointer;

        &:hover {
            background-color: var(--background-color-accent-hover);
        }
    }
}