.postPage {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100vh;

    overflow: hidden;

    .postWrapper {
        margin: 0 10px;

        width: 100%;
        height: 100%;

        max-width: 70vw;
    }

    .commentsWrapper {
        max-width: 600px;
        min-width: 400px;

        width: 100%;
        height: 100vh;

        overflow: scroll;

        margin: 0 10px;
    }
}