.postPage {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100vh;

    overflow: hidden;

    .postWrapper {
        margin: 0 10px;

        height: 100%;
        width: 70vw;

        min-width: 70vw;
        max-width: 70vw;
    }

    .commentsWrapper {
        height: 100vh;
        width: 100%;

        min-width: 300px;

        overflow: scroll;

        margin: 0 10px;
    }
}