.post_view_wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 15px;

    .post_view_header {
        display: flex;
        flex-direction: row;

        align-items: center;

        gap: 10px;
        padding-bottom: 10px;

        border-bottom: 1px solid var(--border-color);

        h1 {
            margin: 0;
        }
    }

    .post_view_content {
        display: flex;
        flex-direction: column;
    
        gap: 15px;

        .post_view_content_replies {
            display: flex;
            flex-direction: column;
        
            gap: 15px;
            border-left: 3px dashed var(--border-color);

            padding-left: 7px;
            margin-left: 7px;
        }
    }
}