.c-logo{
	
    position: fixed;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
    z-index: 2;

    &__svg{
        width: 280px;
        display: block;
        max-width: 100%;
        margin: 0px;
        position: relative;
        height: auto;
    }

   &__svg-item{
		fill: #242424;
        transition: all 0.3s ease-in-out 0s;
		   
		 &--out{
       		transition: all 0.2s ease-in-out 0.2s;
            opacity: 1;
            visibility: visible;

            .is-small &{

                opacity: 0;
                visibility: hidden;
                transition-delay: 0s;
					

            }

        }

        &--move{

            transition: all 0.36s ease-in-out 0s;

            .is-small &{

                transform: translateX(-171px);
                transition-delay: 0s;

            }

        }

    }

}