@import './antd-design.less';
@import './vars.less';
@import './fonts-import.css';

@import './resolutions.less';

@import './layout/Overlay.less';
@import './layout/Primary_Layout.less';
@import './layout/LeftSider.less';

@import './components/Menssaging.less';
@import './components/PostCard.less';


@__Global_backgroud_image: "";

@__Global_general_font_family: "Poppins", sans-serif;
@__Global_texted_font: "Manrope", sans-serif;
@__Global_alternative_font: "Netflix Sans";

@__Global_layout_backgroud: #F8F6F8;
@__Global_layout_color: #2d2d2d;
@__Global_layout_border-rd: 27px 0 0 0;
@__Global_layout_transitions-dur: 200ms; 
@__Global_Components_transitions_dur: 150ms;


@__Global_SwapAnimDuration: 170ms;
@__Global_backdrop_backgroud: rgba(158, 158, 158, 0.5);

@transition-ease-in: all 0.3s ease-out;
@transition-ease-out: all 0.3s ease-out;
@transition-ease-inout: all 150ms ease-in-out;





@Overlay_wrapper_hidden_width: 22vw;
@Overlay_wrapper_showFull_width: 94.2%;
@Overlay_wrapper_showHalf_width: 35vw;
@Overlay_container_bg_background: #F8F6F8;


@Overlay_container_1_btn_backgroud: #4c4c4c;
@Overlay_container_1_btn_color: #fff;
@Overlay_container_1_btn_shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.205);


::-webkit-scrollbar {
    position: absolute;
    width: 14px;
    height: 18px;
  }
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    margin: 0 10px 0 0;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

#root {
  overflow: hidden;
}

body {
  scroll-behavior: smooth;
  height: 100%;
  background-color: transparent;

  overflow: hidden;

  font-size: @base-font-size;
  line-height: @base-line-height;

  font-family: @__Global_texted_font;
 
  background-color: @primary_layout_backgroud;
 

}

@media (max-width: @bp-small){
  ::-webkit-scrollbar{
    display: none;
  }
}

@media (min-width: @bp-medium) {

}

@media (min-width: @bp-large) {

}

@media (min-width: @bp-xlarge) {

}

@media (min-width: @bp-xxlarge) {
 
}





