@__app_background: rgb(249, 249, 249);
@__app_backgroundAccent: rgb(162, 162, 162);
@__app_color: rgb(51, 51, 51);
@__app_Accent:#2d2d2d;

@__app_winavar_height: 25px;

@__app_generalFont: "Poppins", sans-serif;
@__app_secondaryFont: "Manrope", sans-serif;

@__app_SwapDuration: 170ms;


@__app_layout_content_padding: 0 40px 20px 0;


@__Global_layout_backgroud: #F9F9F9;
@__Global_layout_color: #2d2d2d;
@__Global_layout_border-rd: 27px 0 0 0;
@__Global_layout_transitions-dur: 200ms; 
@__Global_Components_transitions_dur: 150ms;


@transition-ease-in: all 0.3s ease-out;
@transition-ease-out: all 0.3s ease-out;
@transition-ease-inout: all 150ms ease-in-out;


@Overlay_wrapper_hidden_width: 22vw;
@Overlay_wrapper_showFull_width: 94.2%;
@Overlay_wrapper_showHalf_width: 35vw;

@Overlay_container_1_btn_backgroud: #4c4c4c;
@Overlay_container_1_btn_color: #fff;
@Overlay_container_1_btn_shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.205);


@Overlay_wrapper_maxwidth: 23vw;

@Overlay_container1_def_color: #201F23;
@Overlay_container1_active_color: #fff;

@Overlay_container2_active_width: 35vw;
@Overlay_container2_color: #201F23;
@Overlay_container2_backgroud: #fff;

@Overlay_container1_padding: 30px 70px 30px 75px;
@Overlay_container2_padding: 20px 15px 15px 15px;