@import '~themes/vars.less';

.HeaderSearchWrapper {
  z-index: 20;
  top: 0;
  display: flex;
  margin: auto;
  width: 100%;

  &.hidden {
    display: none;
  }
}

.headerSearch {
  margin: auto;

  :global {
    .ant-input-affix-wrapper {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      color: rgba(0, 0, 0, .65);
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5;
      list-style: none;
      font-feature-settings: 'tnum';
      position: relative;
      display: inline-block;
      width: 100%;
      text-align: start;
    }

    .ant-input-affix-wrapper .ant-input-prefix {
      left: 12px;
    }

    .ant-input-affix-wrapper {
      background-color: transparent !important;
      border-color: transparent;
      border-radius: 12px;
    }

    .ant-input-affix-wrapper>input.ant-input {
      padding: 0 0 0 30px;
      border: inherit;
      outline: inherit;
    }

    .ant-input-affix-wrapper .ant-input-prefix,
    .ant-input-affix-wrapper .ant-input-suffix {
      background-color: transparent !important;
      border-color: transparent;
      border-radius: 12px;
      position: absolute;
      top: 50%;
      z-index: 2;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      color: rgba(0, 0, 0, .65);
      line-height: 0;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #9d9da7 !important;
    }

    .ant-input {
      border-radius: 12px;
      color: #9D9DA7;
      background-color: #FFFFFF;
      border-color: transparent;
      height: 50px;
      width: 510px;
    }
  }
}
