.app_systemBar {
    -webkit-app-region: drag;

    display: inline-flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-end;

    position: fixed;
    z-index: 1000;

    background-color: transparent;

    top: 0;
    left: 0;
    right: 0;

    height: 30px;
    width: 100%;

    //backdrop-filter: blur(5px);

    .icons {
        display: inline-flex;
        align-items: center;

        padding: 0 10px;
        height: 100%;

        .icon {
            -webkit-app-region: no-drag;
            cursor: pointer;

            display: inline-flex;
            align-items: center;
            justify-content: center;


            margin: 0 5px;
            width: 20px;
            height: 20px;

            color: #fff;

            border-radius: 10px;

            svg {
                margin: 0 !important;
                color: var(--text-color);
            }
        }

        :first-child {
            margin-left: 5px;
        }
    }
}