@import "theme/vars.less";
@import "theme/animations.less";

.quick-nav {
	position: absolute;

	box-sizing: border-box;

	bottom: @app_bottomBar_height;
	left: 0;
	right: 0;

	z-index: 500;

	display: flex;

	flex-direction: row;

	align-items: center;
	justify-content: space-evenly;

	width: 100%;
	height: 0;
	opacity: 0;

	background-color: var(--background-color-accent);

	box-shadow: @card-shadow-top;

	transform: translateY(10px);
	padding-bottom: 20px;

	gap: 20px;

	pointer-events: none;

	transition: all 150ms ease-in-out;

	border-radius: 12px 12px 0 0;

	&.active {
		pointer-events: all;

		height: 100px;

		opacity: 1;
	}

	.quick-nav_item {
		position: relative;

		display: flex;
		flex-direction: column;

		align-items: center;
		justify-content: center;

		z-index: 500;

		width: 20vw;
		height: 100%;
		//padding: 0 30px;

		transition: all 150ms ease-in-out;

		color: var(--text-color);

		h1 {
			margin: 0;

			font-size: 0px;

			transition: all 150ms ease-in-out;
		}

		svg {
			margin: 0 !important;
			transition: all 150ms ease-in-out;
			font-size: 2rem;
		}

		&.disabled {
			pointer-events: none;

			h1 {
				font-size: 0px;
			}

			svg {
				font-size: 2rem;
				color: var(--disabled-color);
			}

			color: var(--disabled-color);
		}

		&.hover {
			h1 {
				font-size: 1rem;
			}

			svg {
				font-size: 2.2rem;
				color: var(--colorPrimary);
			}

			color: var(--colorPrimary);
		}
	}
}

.player_btn {
	color: var(--color);

	background-color: var(--average-color);

	padding: 10px 20px;

	border-radius: 8px;

	&.bounce {
		svg {
			animation: bounce 1s infinite;
		}
	}

	svg {
		color: var(--color);
		margin: 0;
	}
}

.bottomBar {
	position: absolute;
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: center;

	position: relative;

	z-index: 550;

	left: 0;
	bottom: 0;

	width: 100vw;
	min-width: 100vw;
	max-width: 100vw;

	height: @app_bottomBar_height;

	padding: 10px;
	overflow: hidden;

	background-color: var(--background-color-accent);
	border-radius: 12px 12px 0 0;

	box-shadow: @card-shadow-top;

	.items {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		//white-space: nowrap;
		//overflow-x: overlay;

		height: 100%;
		width: 100vw;

		.item {
			display: inline-flex;

			height: 100%;
			align-items: center;
			justify-content: center;

			transition: all 150ms ease-in;

			width: 20vw;

			min-width: 20vw;
			max-width: 20vw;

			.icon {
				border-radius: 360px;

				height: @app_bottomBar_iconSize;
				width: @app_bottomBar_iconSize;

				display: flex;
				flex-direction: column;

				align-items: center;
				justify-content: center;

				color: var(--background-color-contrast);
				font-size: 1.5rem;

				padding: 7px;
				transition: all 70ms ease-in-out;

				svg {
					margin: 0 !important;
				}
			}

			&.primary {
				.icon {
					color: var(--background-color-primary);
					background-color: var(--colorPrimary);
				}
			}
		}

		.item:active {
			.icon {
				background-color: var(--background-color-primary);
				color: var(--background-color-contrast);
				transform: scale(0.9);
			}
		}
	}
}