global
    log stdout format raw local0
    maxconn 4096
    daemon
    stats socket /tmp/haproxy-admin.sock mode 666 level admin expose-fd listeners
    stats timeout 30s

defaults
    log     global
    option  dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    timeout tunnel 1h

resolvers docker
    nameserver docker 127.0.0.11:53
    accepted_payload_size 8192

frontend f_api
    mode http
    bind *:9000
    option forwardfor
    default_backend api_backends

frontend f_webrtc
    mode tcp
    bind *:40000
    default_backend webrtc_backends

backend api_backends
    mode http
    balance roundrobin
    option httpchk GET /health

    server server-blue comty-server-blue:9000 resolvers docker check inter 2s fall 3 rise 2 init-addr none
    server server-green comty-server-green:9000 resolvers docker check inter 2s fall 3 rise 2 init-addr none disabled

    http-request set-header X-Real-IP %[src]
    http-request set-header X-Forwarded-For %[src]
    http-request set-header X-Forwarded-Proto https

    http-response set-header Access-Control-Allow-Origin *
    http-response set-header Access-Control-Allow-Headers *
    http-response set-header Access-Control-Allow-Credentials true
    http-response set-header Access-Control-Allow-Methods GET, POST, PUT, DELETE, OPTIONS

backend webrtc_backends
    mode tcp
    balance roundrobin
    option httpchk GET /health

    server server-blue comty-server-blue:40000 resolvers docker check inter 2s fall 3 rise 2 init-addr none
    server server-green comty-server-green:40000 resolvers docker check inter 2s fall 3 rise 2 init-addr none disabled
