.feed {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;

    .feed_header {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        width: 100%;

        margin-bottom: 20px;
    }

    .emptyFeed {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        width: 100%;

        margin-top: 20px;
    }
}