.cardWrapper{
    width: auto;
    max-width: 75vw;
    min-width: 40vw;
    :global{
        .ant-card-meta-detail > div:not(:last-child){
            margin: 0
        }
        .ant-card {
            
            border-radius: 10px;
        }
    }
}
.postAvatar{
    position: absolute;
    left: -8px;
    top: -8px;
}
.postContent{
    h3{
        color: rgb(85, 85, 85);
        font-weight: 470;
    }
    padding: 23px 13px 13px 13px;
}
.textAgo{
    font-size: 10px;
    margin: 0 0 0 0;
}
.titleUser{
    font-family: 'Poppins', sans-serif;
    margin: 0 0 0 25px;
}
