@import url('https://fonts.googleapis.com/css?family=Nunito:400&display=swap');

.typo1 {
    font-family: 'Nunito', sans-serif;
    vertical-align: text-top;
    color: #333333;
    font-size: 25px;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    margin-left: 13px;
    margin-top: 25px;
}