#root {
    &.mobile {
        .playlist_view {
            display: flex;
            flex-direction: column;

            width: 100%;

            .play_info_wrapper {
                position: relative;

                width: 100%;

                .play_info {
                    width: 100%;

                    .play_info_cover {
                        width: 30vh;
                        height: 30vh;

                        img {
                            width: 100%;
                            height: 100%;

                            object-fit: contain;
                        }
                    }
                }
            }

            .list {
                padding: 30px 0;
            }
        }
    }
}

.playlist_view {
    display: flex;
    flex-direction: row;

    align-items: flex-start;

    width: 100%;

    .play_info_wrapper {
        position: sticky;

        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        width: fit-content;
        height: fit-content;

        color: var(--text-color);

        .play_info {
            display: flex;
            flex-direction: column;

            align-self: center;

            height: 100%;

            padding: 20px;

            background-color: var(--background-color-accent);
            border-radius: 12px;

            .play_info_cover {
                display: flex;
                flex-direction: column;

                align-items: center;
                justify-content: center;

                align-self: center;

                width: 20vw;
                height: 20vw;

                max-width: 400px;
                max-height: 400px;

                background-color: black;
                border-radius: 12px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;

                    object-fit: contain;
                }
            }

            .play_info_details {
                padding: 20px;

                .play_info_title {
                    font-size: 1.5rem;
                    font-family: "Space Grotesk", sans-serif;

                    h1 {
                        margin: 0;
                    }

                    word-break: break-all;

                    font-weight: 600;

                    margin-bottom: 10px;
                }

                .play_info_description {
                    font-size: 0.8rem;
                    font-weight: 400;
                }

                .play_info_statistics {
                    display: flex;
                    flex-direction: column;

                    margin-top: 20px;

                    background-color: var(--background-color-primary);

                    padding: 20px;

                    border-radius: 8px;

                    .play_info_statistics_item {
                        display: flex;
                        flex-direction: row;

                        align-items: center;

                        margin-bottom: 10px;

                        h1,
                        h2,
                        h3,
                        h4,
                        h5,
                        h6,
                        p,
                        span {
                            margin: 0;
                        }

                        .play_info_statistics_item_icon {
                            margin-right: 10px;
                        }

                        .play_info_statistics_item_text {
                            font-size: 0.8rem;
                            font-weight: 400;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                }
            }
        }
    }

    .list {
        display: flex;
        flex-direction: column;

        color: var(--text-color);

        padding: 20px 30px;

        gap: 10px;

        width: 100%;

        h1 {
            margin: 0;
        }

        .list_header {
            display: flex;
            flex-direction: row;

            align-items: center;
            justify-content: space-between;
        }
    }
}