@import "@styles/vars.less";

.contextMenu {
    position: fixed;
    z-index: 100000;

    display: flex;
    flex-direction: column;

    top: 0;
    left: 0;

    width: 230px;
    height: fit-content;

    background-color: var(--background-color-primary);
    border: 1px solid var(--border-color);

    border-radius: 12px;

    padding: 4px;

    font-weight: 600;
    font-family: var(--fontFamily);
    font-size: 0.8rem;
    color: var(--text-color);

    box-shadow: @card-shadow;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
        margin: 0;
        word-break: break-all;
    }

    .item {
        position: relative;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding: 7px 7px 7px 10px;

        transition: all 50ms ease-in-out;

        border-radius: 8px;

        overflow: hidden;

        &:hover {
            background-color: var(--background-color-accent);
            padding-left: 18px;
        }

        &:active {
            background-color: var(--background-color-primary-2);
            transform: scale(0.95);
        }
    }

    .context-menu-separator {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 1px;

        margin: 5px 0;

        background-color: var(--border-color);
    }
}