@import "@styles/vars.less";

.group-list__item-other {
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: center;

	width: 100%;

	padding: 5px 10px;

	border: 1px solid var(--border-color);
	border-radius: 12px;

	overflow: hidden;

	cursor: pointer;

	.ant-avatar {
		width: 100%;
		height: fit-content;

		img {
			width: 35px;
			height: 35px;

			border-radius: 8px;
		}
	}
}
