.soundpad-items {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: auto;

	width: 100%;

	padding: 10px;

	background-color: var(--background-color-primary-2);
	border-radius: 12px;
	border: 3px solid var(--border-color);
}
