.vc-quick-settings {
	overflow: hidden;

	display: flex;
	flex-direction: column;

	width: 100%;
	gap: 15px;

	&__header {
		display: inline-flex;
		align-items: center;

		gap: 10px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 15px;

		.setting_item {
			padding: 0;
		}
	}
}
