.soundpad-items__item {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 35px;
	height: 35px;

	padding: 5px;

	border-radius: 8px;

	cursor: pointer;

	font-size: 1.3rem;

	transition: all 150ms ease-in-out;

	&:hover {
		background-color: var(--background-color-primary-2);
	}
}
