.invalidSkeleton{
    :global{
        .ant-card{
            border-radius: 7px;
        }
        .ant-card-body{
            display: flex;
            padding: 0;
        }
        .ant-skeleton{
            padding: 24px;
        }
    }
}


.floatCardWrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
}