.wrapper {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    background-color: #efefef;
    color: #2d2d2d;
    border-radius: 12px;
    text-align: center;

    width: 100%;
    height: 100%;
    animation-duration: 1500ms;

    &.fadeout{
      opacity: 0;
      animation-name: out;
      animation-delay: 0s;
    }
}

.bouncy-logo{
  width: 100%;
  height: auto;
  margin: auto;
}

.bouncy-logo .ball {
  height: auto;
  width: 100%;
  transform: translate(-10px, 0);
}

.bouncy-logo .ball svg {
  width: 200px;
  height: 200px;
  margin: auto;

  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: my-bounce;
  -webkit-animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-name: my-bounce;
  animation-iteration-count: infinite;
}

.shadow{
  width: 100%;
  height: auto;
}

.bouncy-logo .ball-shadow {
  margin: auto;
  background: radial-gradient(50% 50%, rgba(204, 204, 204, 0.45) 0%, transparent 100%);
  height: 50px;
  width: 200px;
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: my-grow;
  -webkit-animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-name: my-grow;
  animation-iteration-count: infinite;
}

@-webkit-keyframes my-grow {
  from {
    width: 200px;
    height: 50px;
  }
  to {
    width: 150px;
    height: 10px;
  }
}
@keyframes my-grow {
  from {
    width: 200px;
    height: 50px;
  }
  to {
    width: 150px;
    height: 10px;
  }
}
@-webkit-keyframes my-bounce {
  from {
    top: 0;
  }
  to {
    top: 10%;
  }
}
@keyframes my-bounce {
  from {
    top: 0;
  }
  to {
    top: 10%;
  }
}

.c-logo{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    &__svg{
        width: 280px;
        display: block;
        max-width: 100%;
        margin: 0px;
        position: relative;
        height: auto;
    }

   &__svg-item{
		fill: #242424;
        transition: all 0.3s ease-in-out 0s;
		   
		 &--text{
       		transition: all 0.2s ease-in-out 0.2s;
            opacity: 1;
            visibility: visible;
        }

        &--arrow{
            transition: all 0.36s ease-in-out 0s;
            animation-name: Load;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }

    }

}

@keyframes Load {
    0% {
        transform: translateX(0px);
        transition-delay: 0s; 
    }
    50%{
        transform: translateX(-171px);
        transition-delay: 0s; 
    }
    100% {
        transform: translateX(0px);
        transition-delay: 0s; 
    }
}

@keyframes out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}