.post-link {
    display: flex;
    flex-direction: row;

    align-items: center;

    border-radius: 8px;

    font-size: 0.7rem;
    font-weight: 800;

    font-family: "DM Mono", monospace;

    cursor: pointer;

    overflow: hidden;

    span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0;
    }
}