.users_selector {
    .header {
        margin-bottom: 10px;
    }

	.item {
        display: flex;
        flex-direction: row;
        align-items: center;

        h1 {
            margin: 0;
        }

        > div {
            margin-right: 8px;
        }
	}
}
