@import "theme/vars.less";

.app_layout {
	&.mobile {
		display: flex;
		flex-direction: column;

		padding: 0;

		.content_wrapper {
			height: 100%;
			width: 100%;

			overflow-y: scroll;

			//padding-top: 20px;
		}

		.content_layout {
			display: flex;
			flex-direction: column;

			overflow: hidden;
			align-items: center;
			justify-content: center;

			width: 100%;
			padding: 7px;

			box-sizing: border-box;
		}

		.playlist_view {
			display: flex;
			flex-direction: column;

			.play_info_wrapper {
				position: relative;

				.play_info {
					width: 100%;

					.play_info_cover {
						width: 100%;
						height: 100%;
					}
				}
			}

			.list {
				padding: 30px 10px;
			}
		}

		.pagePanels {
			display: flex;
			flex-direction: column;

			align-items: center;
			justify-content: center;

			overflow-x: visible;

			width: 100%;
			height: 100%;

			.panel {
				width: 100%;
				//height: 100%;

				&.left {
					z-index: 500;
					overflow: visible;
					overflow-x: visible;
				}

				&.right {
					z-index: 400;

					overflow-x: visible;
				}
			}

			.card {
				width: 100%;
				height: 100%;

				display: flex;
				flex-direction: row;

				padding: 5px;

				justify-content: space-between;

				box-shadow: @card-shadow;

				border-radius: 12px;

				isolation: unset;
				overflow: visible;

				.item {
					display: flex;
					flex-direction: column;

					justify-content: center;
					align-items: center;

					padding: 5px 10px;

					border-radius: 8px;

					.icon {
						svg {
							margin: 0 !important;
							font-size: 1rem;
						}
					}

					.label {
						font-size: 0.6rem;
					}

					&.active {
						.icon {
							svg {
								color: var(--colorPrimary);
							}
						}

						.label {
							color: var(--colorPrimary);
						}

						background-color: var(--background-color-primary);
					}
				}
			}
		}

		.post-list_wrapper {
			.post-list {
				padding-top: 10px;
				border-radius: 0;

				.playlistTimelineEntry {
					width: 100%;

					.playlistTimelineEntry_content {
						.playlistTimelineEntry_thumbnail {
							img {
								width: 20vw;
								height: 20vw;
							}
						}
					}
				}

				.postCard {
					width: 100%;
				}
			}
		}
	}
}