@app_bottomBar_height: 80px;
@app_bottomBar_iconSize: 45px;
@app_topBar_height: 52px;

@app_sidebar_width: 80px;
@app_sidebar_width_expanded: 230px;

// borders & radius
@app_sidebar_borderRadius: 18px;

@app_menuItemSize: 100px;
@app_menuItemIconSize: 30px;
@app_menuItemTextSize: 12px;

// TRANSITIONS
@transition-ease-in: all 0.3s ease-out;
@transition-ease-out: all 0.3s ease-out;
@transition-ease-inout: all 150ms ease-in-out;

@card-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 var(--shadow-color);
@card-shadow-top: 0 -4px 3px 0 rgba(63, 63, 68, 0.05), 0 0 0 2px var(--shadow-color);

// Mobile
@top_bar_height: 52px;
@top_bar_padding: 10px;