// COLORS
@primary-color: #32b7bb;//#32b7bb; //var(--primary-color);

@app_background_primary: #ffffff;
@app_background_accent: #f0f2f5;
@app_background_contrast: #4b4b4b;

@app_layout_backgroundColor: @app_background_primary;
@app_sidebar_backgroundColor: @app_background_accent;
@app_header_background: @app_background_primary;

// borders & radius
@app_sidebar_borderRadius: 18px;

// SIZES
@app_header_height: 55px;

@app_menuItemSize: 100px;
@app_menuItemIconSize: 30px;
@app_menuItemTextSize: 12px;

@app_menuItemSize: 100px;
@app_menuItemIconSize: 30px;
@app_menuItemTextSize: 12px;

// DEFAULT TRANSITIONS
@transition-ease-in: all 0.3s ease-out;
@transition-ease-out: all 0.3s ease-out;
@transition-ease-inout: all 150ms ease-in-out;