.profile_releases {
    display: grid;

    width: 100%;

    grid-auto-columns: auto;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    @media (min-width: 2000px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 2300px) {
        grid-template-columns: repeat(5, 1fr);
    }

    .playlistItem {
        justify-self: center;
    }

    &.empty {
        display: flex;

        align-items: center;
        justify-content: center;
    }
}