.app_crash {
	position: absolute;
	z-index: 9999;

	top: 0;
	right: 0;

	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	.header {
		display: flex;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		svg {
			width: 100px;
			height: 100px;
		}
	}
}