.streams {
    .streams-list {
        display: flex;
        flex-direction: column;

        .streaming-item {
            cursor: pointer;
            display: flex;
            flex-direction: row;

            padding: 10px;
            border-bottom: 1px solid #e6e6e6;

            .thumbnail {
                width: 15vw;
                height: 100px;
                background-size: cover;

                img {
                    border-radius: 8px;
                    width: 100%;
                    height: 100%;
                }
            }

            .details {
                display: flex;
                flex-direction: column;

                .title {
                    display: inline-flex;
                    align-items: center;

                    h1 {
                        font-size: 1.5em;
                        font-weight: bold;
                        margin-right: 10px;
                        margin-bottom: 0;
                    }

                    span {
                        font-size: 0.8em;
                    }
                }
            }
        }

        .streaming-item:hover {
            background-color: var(--background-color-accent);
        }
    }
}