.player-controls {
    display: inline-flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-evenly;

    width: 100%;

    svg {
        color: var(--text-color);
        margin: 0 !important;

        font-size: 1rem;
    }

    .ant-btn {
        height: 32px!important;
        max-height: 32px!important;
        min-height: 32px!important;

        width: 32px!important;
        max-width: 32px!important;
        min-width: 32px!important;

        padding: 0;
        margin: 0;
    }

    .ant-btn-icon-only {
        height: 32px;
        width: 32px !important;
    }

    button {
        display: inline-flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;

        height: 32px;
        width: 32px !important;

        background-color: transparent;
        border: 0;
    }

    .playButton {
        position: relative;

        display: flex;

        align-items: center;
        justify-content: center;

        .ant-btn-icon {
            margin: 0 !important;
        }

        .loadCircle {
            position: absolute;

            z-index: 330;

            top: 0;
            right: 0;
            left: 0;

            width: 100%;
            height: 100%;

            margin: auto;

            align-self: center;
            justify-self: center;

            transform: scale(1.5);

            svg {
                width: 100%;
                height: 100%;

                path {
                    stroke: var(--text-color);
                    stroke-width: 1.5;
                }
            }
        }
    }

    .muteButton {
        svg {
            font-size: 1rem;
        }
    }
}