.player-controls {
	display: inline-flex;
	flex-direction: row;

	align-items: center;
	justify-content: space-evenly;

	width: 100%;

	button {
		color: var(--textColor);

		height: 32px;
		width: 32px !important;

		padding: 5px;

		svg {
			color: currentColor;
			margin: 0 !important;

			font-size: 1rem;

			stroke-width: 3;
			stroke-linecap: round;
		}
	}

	.playButton {
		border-radius: 12px;

		svg {
			stroke-width: 0.3;
			fill: var(--textColor);
		}

		.loadCircle {
			position: absolute;

			z-index: 330;

			top: 0;
			right: 0;
			left: 0;

			width: 100%;
			height: 100%;

			margin: auto;

			align-self: center;
			justify-self: center;

			transform: scale(1.5);

			svg {
				width: 100%;
				height: 100%;

				path {
					stroke: var(--text-color);
					stroke-width: 1.5;
				}
			}
		}
	}

	.muteButton {
		svg {
			font-size: 1rem;
		}
	}
}
