.embbededMediaPlayerWrapper {
    position: absolute;

    width: fit-content;
    height: 80px;

    padding: 10px;

    z-index: 300;

    border-radius: 8px;

    background-color: var(--background-color-accent);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    // positionate to bottom right
    right: 0;
    bottom: 0;

    margin: 10px;

    // animate in from bottom to top
    animation: fadeIn 150ms ease-out forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}