.chats_dashboard {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 600px;

    color: var(--text-color);

    gap: 20px;

    .chats_dashboard_header {
        display: flex;
        flex-direction: row;

        align-items: center;

        width: 100%;

        gap: 10px;

        padding: 10px;

        background-color: var(--background-color-accent);

        border-radius: 12px;
        
        h1,
        span,
        p {
            margin: 0;
        }
    }
    
    .chats_dashboard_content {
        display: flex;
        flex-direction: column;

        width: 100%;
        
        padding: 10px;
        
        background-color: var(--background-color-accent);

        border-radius: 8px;
    }
}

.chat {}