.crashWrapper {
    position: absolute;

    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;

    z-index: 10000;

    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);

    color: #fff;

    .ant-result,
    .ant-result-title,
    .ant-result-subtitle,
    .ant-result-extra {
        color: #fff;
    }

    .ant-result-content {
        background-color: rgba(0, 0, 0, 0.7) !important;
    }

    code {
        user-select: text;
        color: #fff;
        font-family: "DM Mono", monospace;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    pre {
        color: #fff;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: opacity-fade-in 0.3s ease-in-out;
}

@keyframes opacity-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}