.skeleton {
	svg {
		margin: 0 !important;
	}

	h3 {
		margin: 0;
		margin-left: 10px;
		color: var(--background-color-contrast);
	}

	.indicator {
		color: var(--background-color-contrast);
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	background-color: var(--background-color-accent);
	border-radius: 8px;
	padding: 10px;
}
