.edit_account{
    overflow: hidden!important;
    height: 100%;
}

.edit_account_wrapper{
    overflow: scroll;
    > div {
        margin-bottom: 20px;
    }
}

.edit_account_actions {
    position: absolute;
    bottom: 0;
    right: 0;

    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 20px 0 20px 0;
    background-color: rgba(221, 221, 221, 0.5);
    backdrop-filter: blur(2px);
    --webkit-backdrop-filter: blur(2px);
    border-radius: 18px 18px 0 0;

    transition: all 0.3s ease-in-out;

    display: none;
    opacity: 0;

    &.show {
        display: flex;
        opacity: 1;
    }

    > div {
        margin-left: 20px;
    }
}

.edit_account_actions_indicator{
    position: fixed;
    left: 0;
    margin-left: 30px;
}

.edit_account_category{
    > div {
        margin-bottom: 20px;
        margin-left: 20px;
    }
}

.edit_account_field {
    input:not(:focus){
        color:rgba(105, 105, 105, 0.5)
    }
}