@import "@styles/vars.less";

.drawers-wrapper {
    position: fixed;

    top: 0;
    left: 0;

    z-index: 500;

    display: flex;
    flex-direction: row;

    padding: @sidebar_padding;

    margin-left: calc(@sidebar_padding * 2);

    height: 100dvh;
    height: 100vh;

    // &.hidden {
    //     display: none;
    // }
}

.drawers-mask {
    position: fixed;

    top: 0;
    left: 0;

    z-index: 500;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
}

.drawer {
    position: relative;

    z-index: 550;

    top: 0;
    left: 0;
    bottom: 0;

    width: fit-content;
    min-width: 320px;
    height: 100%;

    padding: 20px;

    background-color: var(--background-color-accent);

    border-radius: @sidebar_borderRadius;
    box-shadow: @card-shadow;
    border: 1px solid var(--sidebar-background-color);

    overflow-x: hidden;
    overflow-y: overlay;
}

.drawer_close_confirm {
    display: flex;
    flex-direction: column;

    gap: 10px;

    width: 100%;

    .drawer_close_confirm_content {
        display: flex;
        flex-direction: column;

        gap: 2px;
    }

    .drawer_close_confirm_actions {
        display: flex;
        flex-direction: row;

        gap: 10px;
    }
}