.userPreview {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    svg {
        fill: var(--app-color);
        margin-left: 6px;
    }

    &.clickable {
        cursor: pointer;
    }

    .avatar {
        display: flex;

        align-items: center;
        justify-content: center;

        margin-right: 10px;

        width: 40px;
        height: 40px;

        .lazy-load-image-background {
            width: 100%;
            height: 100%;
        }

        img {
            object-fit: cover;

            width: 100%;
            height: 100%;

            border-radius: 8px;
        }
    }

    .info {
        display: inline-flex;
        flex-direction: column;

        align-items: flex-start;
        justify-content: center;

        text-align: start;

        width: fit-content;

        color: var(--background-color-contrast);

        h1 {
            align-self: start;

            color: var(--background-color-contrast);
            font-size: 1.1rem;

            margin: 0;
        }

        >div {
            align-self: start;
        }
    }
}