@import '~themes/index.less';

.hat_area{
    width: 100%;
}

.chats_wrapper{
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100%;
    background-color: #fff;
    border-radius: 9px;
}

.chat_sider{
    border-right: 1px #eef2f4 solid;
    padding: 30px;
}

.app {
 display: flex;
 flex-direction: column;
 background-color: @chats-bg-color;
 max-width: 1600px;
 height: 100%;
 width: 100%;
 margin: 0 auto;
 overflow: hidden;
}

.wrapper {
 width: 100%;
 display: flex;
 flex-grow: 1;
 overflow: hidden;
}

.conversation_area{
 width: 340px;
 flex-shrink: 0;
}

.chat_area {
 flex-grow: 1;
}

.conversation_area {
 border-right: 1px solid @chat-border-color;
 overflow-y: auto;
 overflow-x: hidden;
 display: flex;
 flex-direction: column;
 position: relative;
}

.msg_profile {
 width: 44px;
 height: 44px;
 border-radius: 50%;
 object-fit: cover;
 margin-right: 15px;
 &.group {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @chat-border-color;

  svg {
   width: 60%;
  }
 }
}

.msg {
 display: flex;
 align-items: center;
 padding: 20px;
 cursor: pointer;
 transition: 0.2s;
 position: relative;
 &:hover {
  background-color: @msg-hover-bg;
 }
 &.active {
  background: @active-conversation-bg;
  border-left: 4px solid @chat-theme-color;
 }
 &.online:before {
  content: "";
  position: absolute;
  background-color: #23be7e;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 2px solid @chats-bg-color;
  left: 50px;
  bottom: 19px;
 }
}

.msg_username {
 margin-bottom: 4px;
 font-weight: 600;
 font-size: 15px;
}

.msg_detail {
 overflow: hidden;
}

.msg_content {
 font-weight: 500;
 font-size: 13px;
 display: flex;
}

.msg_message {
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 color: @chat-msg-message;
}

.msg_date {
 font-size: 14px;
 color: @msg-date;
 margin-left: 3px;
 &:before {
  content: "•";
  margin-right: 2px;
 }
}

.chat_area {
 display: flex;
 flex-direction: column;
 overflow: auto;
 &.profile {
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
 }
 &.title {
  font-size: 18px;
  font-weight: 600;
 }
 &.main {
  flex-grow: 1;
 }
}

.chat_msg_img {
 height: 40px;
 width: 40px;
 border-radius: 50%;
 object-fit: cover;
}

.chat_area_main{
 overflow-y: scroll;
 overflow-x: hidden;
 padding: 30px 0 30px 0;
 height: calc(100% - @chat_footer_height);
}

.chat_msg_profile {
 flex-shrink: 0;
 margin-top: auto;
 margin-bottom: -20px;
 position: relative;
}

.chat_msg_date {
 position: absolute;
 left: calc(100% + 12px);
 bottom: 0;
 font-size: 12px;
 font-weight: 600;
 color: @msg-date;
 white-space: nowrap;
}

.chat_msg {
 display: flex;
 padding: 0 20px 45px;

 .chat_msg_content {
  margin-left: 12px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 }
 
 .chat_msg_text {
  background-color: @chat-text-bg;
  padding: 15px;
  border-radius: 20px 20px 20px 0;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  
 }

 &.owner{
    flex-direction: row-reverse;
    .chat_msg_content {
     margin-left: 0;
     margin-right: 12px;
     align-items: flex-end;
    }
    .chat_msg_text {
     background-color: @chat-theme-color;
     color: #fff;
     border-radius: 20px 20px 0 20px;
    }
    .chat_msg_date {
     left: auto;
     right: calc(100% + 12px);
    }
 }
}


.chat_msg_text {
    color: @chat-text-color;
}

.chat_msg_text img {
 max-width: 300px;
 width: 100%;
}

.chat_area_footer {
 display: flex;
 border-top: 1px solid @chat-border-color;
 width: 100%;
 padding: 10px 20px;
 height: @chat_footer_height;
 align-items: center;
 background-color: @chats-bg-color;
 position: sticky;
 bottom: 0;
 left: 0;
}


.chat_area_group {
 flex-shrink: 0;
 display: flex;
 * {
  border: 2px solid @chats-bg-color;
 }
 * + * {
  margin-left: -5px;
 }

 span {
  width: 32px;
  height: 32px;
  background-color: @chat-button-bg-color;
  color: @chat-theme-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
 }
}

@media (max-width: 780px) {
 .conversation_area {
  display: none;
 }
}
