#root {
    &.mobile {
        .badges {
            .ant-tag {
                padding: 10px;
                font-size: 0.9rem;
                width: 100%;

                svg {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

.badges {
    display: flex;
    flex-direction: row;

    align-items: center;

    height: fit-content;

    gap: 7px;

    background-color: var(--background-color-primary);
    border-radius: 12px;

    padding: 7px 15px;

    .badge {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        --outline-color: var(--icon-color);

        svg {
            font-size: 1rem;

            margin: 0 !important;
            color: var(--icon-color);
        }
    }
}