.badges {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 7px;
    grid-row-gap: 7px;

    align-items: center;

    height: fit-content;

    gap: 7px;

    background-color: var(--background-color-primary);
    border-radius: 12px;

    padding: 7px 15px;

    .badge {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        --outline-color: var(--icon-color);

        svg {
            font-size: 1rem;

            margin: 0 !important;
            color: var(--icon-color);
        }
    }
}