.sponsors_list {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    gap: 20px;

    .sponsor {
        display: flex;
        flex-direction: column;

        gap: 5px;

        img {
            max-width: 250px;
            max-height: 100px;

            max-width: 250px;
            min-height: 100px;
        }
    }
}