.ant-form_with_selector {
    display: flex;
    flex-direction: column !important;

    align-items: flex-start !important;
    justify-content: flex-start !important;

    .ant-select {
        width: 100% !important;
    }

    .ant-input {
        width: 100% !important;
    }
}