.settings {
	display: flex;
	flex-direction: column;

	> div {
		margin-bottom: 25px;
	}

	.group {
		display: flex;
		flex-direction: column;

		.content {
			> div {
				margin-bottom: 25px;
			}
		}
	}

	.settingItem {
		padding: 0 20px;

		> div {
			margin-bottom: 10px;
		}

		.header {
			display: flex;
			align-items: center;

			h4{
				margin: 0;
			}

			p {
				font-size: 11px;
				color: var(--background-color-contrast);
				margin: 0;
			}

			> div {
				margin-right: 10px;
			}
		}

		.component {
			padding: 0 20px;
		}
	}

	.footer {
		position: relative;
		width: 100%;

		padding-top: 20px;
		padding-bottom: 20px;

		display: flex;
		flex-direction: column;

		justify-content: center;
		align-items: center;

		> div {
			margin-bottom: 10px;

			font-family: "Space Mono", monospace;
			font-size: 10px;

			display: flex;
			flex-direction: row;

			align-items: center;
			justify-content: center;

			.ant-tag {
				height: 18px;
				line-height: 18px;
				font-size: 10px;
			}

			> div {
				padding: 0 7px;
			}
		}
	}
}
