.settings_groupItems{ 
    > div {
        padding: 12px 30px;
    }    
}

.settings_about_app{
    font-family: 'Space Mono', monospace;
    font-size: 10px;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    .ant-tag{
        height: 18px;
        line-height: 18px;
        font-size: 10px;
    }

    > div {
        padding: 0 7px;
    }
}

.settings_bottom_items {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    > div {
        padding: 10px 0;
    }
}