@import "theme/index.less";

.search_bar {
	user-select: none;

	height: fit-content;
	border: 0;
	border-radius: 7px !important;
	vertical-align: middle !important;

	.ant-input {
		background-color: var(--background-color-accent)!important;
		border-color: var(--background-color-accent)!important;
		color: var(--background-color-contrast)!important;
	}

	.ant-input-group {
		display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;
	}

	.ant-input-group-addon {
		width: fit-content;
		background-color: transparent;
	}

	.ant-btn {
		background-color: var(--background-color-primary)!important;
		border: 0 !important;
	}
}
