.grantRoles_user {
    display: flex;
    flex-direction: column;

    .roles {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;

        padding: 10px;
        border-radius: 8px;

        background-color: var(--background-color-accent);
    }

    > div {
        margin-bottom: 10px;
    }
}