.post_viewer {
    position: absolute;

    z-index: 50;

    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-color: rgba(var(--layoutBackgroundColor), 0.6);
    backdrop-filter: blur(10px);
}