@border-radius: 12px;

.details {
	display: flex;
	flex-direction: column;

	justify-content: center;

	width: 100%;

	padding: 15px;

	gap: 10px;

	background-color: var(--background-color-accent);

	border-radius: @border-radius;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
	}

	.field_value p {
		font-family: "DM Mono", monospace;
		user-select: text !important;
	}
}

.droppableField {
	position: relative;

	display: flex;
	flex-direction: column;

	justify-content: center;

	background-color: var(--background-color-primary);

	border-radius: 12px;

	transition: all 150ms ease-in-out;

	&.collapsed {
		.field_body {
			height: 0;
			opacity: 0;
			padding: 0;

			pointer-events: none;
		}
	}

	.inline_field {
		margin-left: 20px;
	}

	.field_body {
		display: flex;
		flex-direction: column;

		padding: 10px;
		transition: all 150ms ease-in-out;
	}

	.collapse_btn {
		position: absolute;

		top: 0;
		left: 0;

		transform: translate(100%, 70%);

		svg {
			color: var(--text-color);
			margin: 0 !important;
		}
	}
}
