.featured_event {
	position: relative;
	z-index: 50;

	display: flex;
	flex-direction: row;

	width: 100%;
	min-height: 120px;

	border-radius: 12px;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	overflow: hidden;

	cursor: pointer;

	.featured_event-logo {
		height: 100%;
		width: 155px;

		padding: 20px;

		img {
			height: 100%;
			width: 100%;
		}
	}

	.featured_event-content {
		display: flex;
		flex-direction: column;

		align-items: flex-start;
		justify-content: center;

		width: 100%;
		height: 100%;

		h1 {
			font-size: 1.5rem;
			font-weight: 700;
			font-family: "Space Grotesk", sans-serif;

			color: inherit;

			overflow: hidden;

			text-overflow: ellipsis;
			white-space: nowrap;
		}

		h3 {
			font-size: 0.8rem;
			font-weight: 400;

			color: inherit;
			overflow: hidden;

			text-overflow: ellipsis;
			white-space: nowrap;
			word-break: break-all;
		}
	}

	.featured_event-indicator {
		position: absolute;
		z-index: 55;

		font-size: 0.6rem;

		bottom: 0;
		right: 0;

		padding: 10px;

		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 12px 0 0 0;

		svg,
		span {
			color: inherit;
		}
	}
}
