.featuredEvent {
    position: relative;
    z-index: 50;

    display: flex;
    flex-direction: row;

    align-items: center;
    //justify-content: flex-start;

    min-width: 300px;
    max-width: 350px;

    border-radius: 12px;

    padding: 10px 20px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    cursor: pointer;

    .featuredEvent_wrapper {
        display: flex;
        flex-direction: row;

        width: 100%;
        height: 100%;

        align-items: center;
        justify-content: space-between;

        .logo {
            height: 100%;

            width: fit-content;

            max-width: 70px;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .content {
            display: flex;
            fle
            x-direction: column;
            align-self: flex-end;

            width: 100%;
            max-width: calc(90% - 70px);

            overflow: hidden;

            margin-left: 20px;
            margin-bottom: 10px;

            h1 {
                font-size: 1.5rem;
                font-weight: 700;
                font-family: "Space Grotesk", sans-serif;

                overflow: hidden;

                text-overflow: ellipsis;
                white-space: nowrap;
            }

            h3 {
                font-size: 0.8rem;
                font-weight: 400;

                overflow: hidden;

                text-overflow: ellipsis;
                white-space: nowrap;
                word-break: break-all;
            }
        }
    }

    .indicator {
        position: absolute;
        z-index: 55;

        font-size: 0.6rem;

        bottom: 0;
        right: 0;

        padding: 10px;
    }
}