@item_border_radius: 12px;

.security_sessions_list_item_wrapper {
    display: flex;
    flex-direction: column;

    &.collapsed {
        .security_sessions_list_item_extra-body {
            height: 0;
            transform: translateY(-100%);
            padding-top: 0;
            padding-bottom: 0;
        }

        .security_sessions_list_item {
            border-radius: @item_border_radius;
            border-bottom-color: transparent;
        }
    }
}


.security_sessions_list_item {
    position: relative;

    z-index: 100;

    display: flex;
    flex-direction: row;

    align-items: center;

    border-radius: @item_border_radius @item_border_radius 0 0;

    border-bottom: 1px var(--border-color) solid;

    background-color: var(--background-color-primary);

    transition: all 150ms ease-in-out;

    padding: 5px;

    width: 100%;

    overflow: hidden;

    h1,
    h2,
    h3,
    h4,
    h5,
    span {
        margin: 0 !important;
    }

    svg {
        margin: 0 !important;
    }

    gap: 10px;

    .security_sessions_list_item_icon {
        display: inline-flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        width: 50px;
        height: 50px;

        padding: 10px;

        background-color: var(--background-color-accent);

        border-radius: 12px;

        svg {
            width: 30px;
            height: 30px;
        }

    }

    .security_sessions_list_item_info {
        display: flex;
        flex-direction: column;

        gap: 5px;

        span {
            user-select: text;
        }

        .security_sessions_list_item_title {
            display: inline-flex;
            align-items: center;

            justify-content: space-between;

            font-size: 0.7rem;
            font-weight: 600;

            gap: 20px;
        }

        .security_sessions_list_item_info_details {
            display: inline-flex;
            flex-direction: row;

            align-items: center;

            gap: 7px;
        }
    }

    .security_sessions_list_item_actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        gap: 10px;
    }
}

.security_sessions_list_item_extra-body {
    position: relative;

    z-index: 99;

    display: inline-flex;
    flex-direction: row;

    align-items: center;

    width: 100%;
    gap: 10px;

    background-color: var(--background-color-primary);

    transform: translateY(calc(-1 * calc(@item_border_radius / 2)));

    padding: 5px 10px;
    padding-top: calc(calc(@item_border_radius / 2) + 5px);

    transition: all 150ms ease-in-out;

    border-radius: 0 0 @item_border_radius @item_border_radius;

    overflow: hidden;
}

.security_sessions_list_item_info_details_item {
    display: flex;
    flex-direction: row;

    align-items: center;

    gap: 5px;

    font-size: 0.8rem;
    font-weight: 400;

    svg {
        margin: 0 !important;
    }
}