.group-settings-panel {
	display: flex;
	flex-direction: row;

	gap: 20px;

	&__menu {
		width: 200px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;

		width: 100%;
	}

	&__fields {
		display: flex;
		flex-direction: column;
		gap: 10px;

		&__field {
			display: flex;
			flex-direction: row;
			gap: 10px;
		}
	}
}
