$width: 120px;
$height: 40px;
$border: 0;

$violet: #6559ae;
$orange: #ff7159;

$border-radius: 8px;

$deg: 120deg;
$size: 400%;
$dur: 15s;

@mixin clip-frame($width, $height, $border) {
  -webkit-clip-path: polygon(0% 100%, $border 100%, $border $border, $width - $border $border, $width - $border $height - $border, $border $height - $border, $border 100%, 100% 100%, 100% 0%, 0% 0%);
}

.like_btn {
  width: 100px;
  height: 30px;
  line-height: 28px;
  padding: 5px 15px 5px 15px;
  @extend .text-formatting;

  &:hover {
    color: #7e7e7e;
  }

  &.nofollowed {
    &:hover {
      border: none;
      content: '';
      color: white;
      border-radius: $border-radius;
      background: linear-gradient($deg, $violet, $orange, $violet);
      background-size: $size $size;
      animation: gradient $dur ease-in-out infinite, border 1s forwards ease-in-out reverse;
    }
  }
}

/* helpers */

.text-formatting {
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 1px;
}

/* motion */

@keyframes gradient {
  0% {
    background-position: 14% 0%;
  }

  50% {
    background-position: 87% 100%;
  }

  100% {
    background-position: 14% 0%;
  }
}
