.soundpad-dialog__local-volume {
	display: flex;
	align-items: center;
	gap: 5px;

	width: 100px;

	background-color: var(--background-color-primary-2);

	border-radius: 8px;
	padding: 0px 10px;

	font-size: 1.6rem;
	color: var(--text-color);

	.ant-slider {
		width: 100%;

		.ant-slider-rail {
			background-color: var(--text-color);
		}
	}
}
