.donative-selector {
    display: flex;
    flex-direction: column;

    gap: 20px;

    .donative-selector_channels {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        gap: 30px;

        img {
            width: fit-content;
            height: 40px;
        }
    }
}