.developer-settings {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.api_keys {
    display: flex;
    flex-direction: column;

    background-color: var(--background-color-accent);

    padding: 10px;

    border-radius: 12px;

    .api_keys_header {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: space-between;
    }
}

.links {
    display: flex;
    flex-direction: column;

    gap: 5px;
}