.like_button, .like_button:before, .like_button:after {
    position: relative;
    box-sizing: border-box;
  }
  .ripple, .ripple:before, .ripple:after {
    position: relative;
    box-sizing: border-box;
  }
  
  .like_button {
    --color-heart: #EA442B;
    --easing: cubic-bezier(.7,0,.3,1);
    --duration: .5s;

    font-size: 40px;
    border: none;
    border-radius: 50%;
    background: white;
    width: 1em;
    height: 1em;
    padding: 0;
    margin: 0;
    outline: none;
    z-index: 2;
    transition: transform var(--duration) var(--easing);
    cursor: pointer;
    
    &:before {
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      transition: inherit;
    }
    
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: inherit;
      z-index: -1;
    }
    
   
   
    
    @keyframes depress {
      from, to {
        transform: none;
      }
      50% {
        transform: translateY(5%) scale(0.9);
      }
    }
    
    @keyframes depress-shadow {
      from, to {
        transform: none;
      }
      50% {
        transform: scale(0.5);
      }
    }
  }
  
  .like_wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    z-index: 1;
    > * { 
      margin: auto;
      grid-area: 1 / 1; 
    }
  }
  
  .heart {
    width: .5em;
    height: .5em;
    display: block;
    transform-origin:  center 80%;

    > path {
      stroke: var(--color-heart);
      stroke-width: 2;
      transition: fill var(--duration) var(--easing);
      fill: var(--color-heart);
    }
  
    &.empty{
      > path {
        stroke: var(--color-heart);
        stroke-width: 2;
        transition: fill var(--duration) var(--easing);
        fill: transparent;
      }
    }

    &.clickanim{
      animation: heart-bounce var(--duration) var(--easing);
      @keyframes heart-bounce {
        40% { transform: scale(0.7); }
        0%, 80%, 100% { transform: scale(1); }
      }
    }

    animation: none;
   
    
    
  }

  .ripple {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: .4em solid var(--color-heart);
      border-radius: inherit;
      transform: scale(0);
    }
    &.clickanim{
      &:before {
        animation: ripple-out var(--duration) var(--easing);
        @keyframes ripple-out {
          from { transform: scale(0); }
          to { transform: scale(5); }
        }
      }
    }
    
  }

  