.like_button, .like_button:before, .like_button:after {
    position: relative;
    box-sizing: border-box;
  }
  .ripple, .ripple:before, .ripple:after {
    position: relative;
    box-sizing: border-box;
  }
  
  :root {
    --color-heart: #EA442B;
    --easing: cubic-bezier(.7,0,.3,1);
    --duration: .5s;
  }
  
  
  .like_button {
    font-size: 40px;
    border: none;
    border-radius: 50%;
    background: white;
    width: 1em;
    height: 1em;
    padding: 0;
    margin: 0;
    outline: none;
    z-index: 2;
    transition: transform var(--duration) var(--easing);
    cursor: pointer;
    
    &:before {
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      transition: inherit;
    }
    
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: inherit;
      z-index: -1;
    }
    
    &:active {
      &:before {
        animation: depress-shadow var(--duration) var(--easing) both;
      }
    }
    
    &:focus:after {
      animation: depress var(--duration) var(--easing) both;
    }
    
    @keyframes depress {
      from, to {
        transform: none;
      }
      50% {
        transform: translateY(5%) scale(0.9);
      }
    }
    
    @keyframes depress-shadow {
      from, to {
        transform: none;
      }
      50% {
        transform: scale(0.5);
      }
    }
  }
  
  .like_wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    z-index: 1;
    > * { 
      margin: auto;
      grid-area: 1 / 1; 
    }
  }
  
  .heart {
    width: .5em;
    height: .5em;
    display: block;
   
    > path {
      stroke: var(--color-heart);
      stroke-width: 2;
      fill: transparent;
      transition: fill var(--duration) var(--easing);
     
      .like_button:focus & {
        fill: var(--color-heart); 
      }
    }
    
    transform-origin:  center 80%;
    &.activated{
        animation: heart-bounce var(--duration) var(--easing);
        @keyframes heart-bounce {
          40% { transform: scale(0.7); }
          0%, 80%, 100% { transform: scale(1); }
        }
    }
    .like_button:focus & {
      animation: heart-bounce var(--duration) var(--easing);
      @keyframes heart-bounce {
        40% { transform: scale(0.7); }
        0%, 80%, 100% { transform: scale(1); }
      }
    }
  }
  
  /* Added wrapper to prevent layout jank with resizing particles */
  .particles {
    
    width: 100%;
    height: 100%;
  }
  
  .particle {
    position: absolute;
    top: 0;
    left: 0;
    height: .1em;
    width: .1em;
    border-radius: .05em;
    background-color: var(--color);
    --percentage: calc( var(--i) / var(--total-particles) );
    --Θ: calc( var(--percentage) * 1turn );
    transform: translate(-50%, -50%) rotate( var(--Θ) ) translateY(0) scaleY(0);
    transition: all var(--duration) var(--easing);
    
    .like_button:focus & {
      animation: particles-out calc(var(--duration) * 1.2) var(--easing) forwards;
      
      @keyframes particles-out {
        50% {
          height: .3em;
        }
        50%, 60% {
          height: .3em;
          transform:
            translate(-50%, -50%) 
            rotate( var(--Θ) )
            translateY(.8em)
            scale(1)
            ;
        }
        60% {
          height: .2em;
        }
        100% { 
          transform:
            translate(-50%, -50%) 
            rotate( var(--Θ) )
            translateY(1em)
            scale(0)
            ;
        }
      }
    }
  }
  
  .ripple {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: .4em solid var(--color-heart);
      border-radius: inherit;
      transform: scale(0);
    }
    
    .like_button:focus & {
      &:before {
        animation: ripple-out var(--duration) var(--easing);
        @keyframes ripple-out {
          from { transform: scale(0); }
          to { transform: scale(5); }
        }
      }
    }
  }
  

  /* Reset the animation when clicking again! */
  .like_button:focus {
    pointer-events: none;
    cursor: normal;
  }