.dashboard {
	padding: 20px;
	width: 100%;
	height: 100%;

	h1 {
		font-size: 28px;
		margin: 0;
	}

	> div {
		margin-bottom: 20px;
	}
	
	.header {
		display: flex;

		> div {
			margin-right: 20px;
		}
	}

	.content {
		> div {
			margin-left: 20px;
		}
	}

	.quick_actions {
		display: flex;
		flex-wrap: wrap;

		> div {
			margin: 6px 10px;
		}
	}

	.widgets {
		display: flex;
		flex-direction: column;

		.widget {
			//background-color: var(--background-color-accent);
			//padding: 10px;
		}

		> div {
			margin-bottom: 20px;
		}
	}
}
