.dashboard {
    padding-top: 20px;
    width: 100%;

    h1{
        font-size: 28px;
        margin: 0;
    }

    .top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        > div {
            margin-right: 20px;
        }
    }

    > div {
        margin-bottom: 20px;
    }

    .content {
        > div {
            margin-left: 20px;
        }
    }
}