.main-page {
    display: flex;
    flex-direction: column;

    height: 100%;

    gap: 10px;

    .main-page-actions {
        display: flex;
        flex-direction: row;

        justify-content: space-between;

        gap: 10px;

        .profile-selector {
            display: flex;
            flex-direction: row;

            width: 100%;
        }
    }
}