.tvstudio-page {
	display: flex;
	flex-direction: column;

	width: 100%;

	gap: 10px;

	.tvstudio-page-header {
		display: flex;
		flex-direction: row;

		width: fit-content;

		gap: 10px;

		background-color: var(--background-color-accent);
		padding: 10px 20px;

		border-radius: 12px;

		h1 {
			font-family: "Space Grotesk", sans-serif;
			font-size: 1.3rem;
			margin: 0;
		}
	}

	.tvstudio-page-actions {
		display: flex;
		flex-direction: row;

		justify-content: space-between;

		width: 100%;

		gap: 10px;

		.profile-selector {
			display: flex;
			flex-direction: row;

			width: 100%;
		}
	}

	.tvstudio-page-list {
		display: flex;
		flex-direction: column;

		width: 100%;

		border-radius: 12px;

		overflow: hidden;
	}
}
