@import '~themes/index.less';

.SecondaryBody {
  width: 100%;
  height: 100%;
  font-family: @__Global_general_font_family;
  color: #ffffff;
  font-size: 12px;
  h1,h2,h3,h4,h5{color:#ffffff}
}

.UserContainer {
  display: flex;
  position: relative;
  float: right;
  z-index: 150;
  transform: translate(0, -40px);

  .UserContainer_text {
    margin: 0 8px;

    h4 {
      text-align: right;
    }

    p {
      word-break: break-all;
      text-align: right;
      font-size: 11px;
      color: #eeeeee !important;
    }
  }


}

.postAvatar {
  position: absolute;
  left: -8px;
  top: -8px;
  display: flex;
}

.titleUser {
  display: flex;
  font-family: 'Poppins', sans-serif;
  margin: 0 0 0 50px;
  color: #ffffff !important;
}

.textAgo {
  display: flex;
  font-size: 10px;
  margin: 0 0 0 53px;
}

.PostTags {
  float: right;
  width: 100%;
  z-index: 10;

  :global {
    .anticon {
      color: rgb(249, 179, 64);
      float: right;
      margin: -0 6px 0 0;
      ;
      font-size: 17px;
    }

    .MoreMenu {
      color: #2d2d2d !important;
    }
  }
}

.titleWrapper {
  display: flex;

  h4 {
    cursor: pointer;
  }

  color: #ffffff !important;

}

.contentWrapper {
  margin: auto;
  width: 100%;
  padding: 20px;
}


.postContent {
  word-break: break-all;
  position: absolute;
  vertical-align: bottom;
  border-radius: 7px;
  top: 0;
  max-width: 50vw;

  background-color: #2d2d2d4b;
  padding: 10px;

  h3 {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.3px;
  }
}

.postContent_OnlyText {
  padding: 25% 0 0 0;
  position: relative;
  vertical-align: middle;

}


.likebtn {
  :global {
    svg {
      color: rgba(0, 0, 0, 0.45);
    }

    svg:hover {
      color: rgb(233, 35, 68);
      transition: all 0.2s linear;
    }
  }
}

.comments_body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  padding: 50px 10px 10px 20px;

  .comments_body_title {
    font-size: 12px;

    h1 {
      font-weight: 550;
      letter-spacing: 0.01px;
    }
  }

  .comments_cards_wrapper {
    z-index: 50;
    overflow-y: scroll!important;
    height: 84%;
    :global {
      overflow-y: scroll!important;
    }

    .comment_card {
      overflow-y: scroll!important;
      position: relative;
      width: 100%;
      background-color: #ffffff;
      word-break: break-all;

      .comment_title {
        display: flex;

        img {
          float: left;
          width: 30px;
          height: 30px;
          border-radius: 12px;
        }

        .comment_user_username {
          margin: 0 5px 0 8px;
          vertical-align: middle;
          height: 100%;
          color: #2d2d2d;
          line-height: 25px;
        }

        .comment_user_ago {
          cursor: pointer;
          position: absolute;
          right: 0;
          text-align: right;
          font-size: 9px;
        }
      }

      .comment_text {
        margin: 10px 0 0 0;
      }

    }
  }

  .comment_box {
    width: 100%;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 100;
    background-color: #ffffffd7;
    padding-top: 20px;
    padding-bottom: 60px;
    border-radius: 0 0 0 32px;

    .comment_box_body {
      border-radius: 5px;
      width: 85%;
      height: 40px;
      margin: auto;
      background-color: #f8f6f8;

      :global {

        .ant-input-affix-wrapper,
        .ant-input {
          padding: 4px 5px;
          background-color: transparent;
          border: 0;
        }
      }
    }
  }

}

.search_wrapper{
  color: #ffffff;
  height: 100%;
  width: 82%;
  margin: auto;
  :global{
    .ant-result-title{
      color: @secondary_container_1_color!important;
    }
    .ant-result-subtitle{
      color: @secondary_container_1_color!important;

    }
    .ant-list-items{
      height: 82vh;
      overflow: scroll;
    }
  }
}

.search_card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.034);
  margin: 10px 0 10px 0;
  border-radius: 8px;
  padding: 10px;
  word-break: break-all;
  color: #ffffff;
  cursor: pointer;

  .search_title {
    display: flex;

    img {
      float: left;
      width: 30px;
      height: 30px;
      border-radius: 12px;
    }

    .search_user_username {
      margin: 0 5px 0 8px;
      vertical-align: middle;
      height: 100%;
      color: #ffffff;      
      line-height: 25px;
    }
  }

  .search_text {
    margin: 10px 0 0 0;
  }

}

.secondary_hastags {
  font-family: @__Global_general_font_family;
  color: #ffffff;
  font-size: 12px;

 
 .secondary_hastags_title{
  h2{color: #ffffff;}
  }

  .secondary_hastags_body{
    margin: 20px 0 0 0;
    background-color: hsl(0, 0%, 21%);
    border-radius: 12px;
    word-break: break-all;
    padding: 5px 5px 5px 10px;
    height: auto;

    .hash{
      margin: 5px 0 3px 0;
      cursor: pointer;
    }

    p{
      margin: 0;
      color: #2196F3;
      font-size: 12px;
      max-height: 35px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

  }

}




.secondary_adv_pro{
  border-radius: 12px;
  // background-color: #ff4d4e;
  background: rgb(255,77,78);
  background: linear-gradient(49deg, rgba(255,77,78,1) 15%, rgba(255,87,56,1) 55%, rgba(255,97,36,1) 73%, rgba(255,105,19,1) 82%, rgba(255,114,0,1) 94%);
  
  margin: 70px 0 30px 0;
  padding: 14px;

  width: 100%;
  height: 140px;

  h1{
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-bottom: 0;
  }
  p{
    font-size: 9px;

  }

  :global{
    .ant-btn{
      vertical-align: bottom;
      border: 0;
      background-color: #d24345a2;
      border-radius: 7px;
      height: 27px;
      padding: 2px 7px;
      font-size: 12px;
      font-weight: 600;
    }
  }
}

.__footer{
  position: absolute;
  bottom: 0;
  font-size: 11px;
  margin-bottom: 10px;
  color: #f3f3f3;
  letter-spacing: 2px;
  width: 100%;
}