/* (2.0) YulioID V2 */

@import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,500,500i,700');



.mainlp {
  --neutralShade0: #f8f8f8;
  --neutralShade1: #f2f2f2;
  --neutralShade2: #e8e9e9;
  --neutralShade3: #d1d3d4;
  --neutralShade4: #babdbf;
  --neutralShade5: #808488;
  --neutralShade6: #666a6d;
  --neutralShade7: #4d5052;
  --neutralShade8: #212122;
  --grayColor: #999;
  --lightGrayColor: #ddd;
  --borderRadius: 6px;
  --boxShadow: 0 2px 5px rgba(#333, 0.2);
}

/*overall layout*/
.mainlp {
  width: 90%;
  max-width: 1050px;
  margin: 3em auto 0;
  display: grid;
  grid: repeat(5, fit-content(300px))/100%;
  color: var(--foregroundColor);
  text-align: left;
}

.mainlp .sectionlp {
  border: 1px solid var(--accentColor);
  position: relative;
  padding: 40px 40px 50px;
}

.mainlp .sectionlp>h6 {
  color: var(--accentColor);
  background: var(--canvasColor);
  position: absolute;
  top: -10px;
  left: 20px;
  padding: 0 10px;
}

.mainlp .sectionlp .h6lp.subheader {
  color: var(--grayColor);
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

@media (max-width: 992px) {
  section:not(:last-child) {
    border-width: 0 0 1px;
  }

  section:last-child {
    border-width: 0;
  }
}

@media (min-width: 992px) {
  main {
    grid: repeat(9, auto)/45% 1fr 45%;
    grid-auto-flow: dense;
  }

  .media-card-1 {
    grid-column: 1 / 2;
    border-width: 1px 0;
  }

  .media-card-2 {
    grid-column: 2 / 4;
    border-width: 1px 0 1px 1px;
  }

  .media-card-3 {
    grid-column: 1 / 4;
    border-width: 0;
  }

  .filter-section {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    border-width: 0 0 0 1px;
  }

  .well-cta-1 {
    grid-row: 3;
    grid-column: 1 / 3;
    border-width: 1px 1px 0 0;
  }

  .well-cta-2 {
    grid-row: 2;
    grid-column: 2 / 4;
    border-width: 1px 0 0;
  }

  .tables {
    grid-row: 4;
    grid-column: 1 / -1;
    border-width: 1px 0 0;
  }

  .forms {
    grid-column: 1 / 3;
    border-width: 0;
  }

  .comments {
    grid-row: 2;
    grid-column: 1 / 2;
    border-width: 1px 1px 0 0;
    padding-top: 60px;
  }

  .modals {
    grid-row: 3;
    grid-column: 3 / 4;
    justify-content: center;
    border-width: 1px 0 0;
  }
}


/*checkboxes*/
input:disabled~* {
  opacity: 0.3;
  user-select: none;
  pointer-events: none;
}

.checkboxtoggle input {
  display: none;
}

.checkboxtoggle label {
  outline: 0;
  display: block;
  width: 45px;
  height: 16px;
  background: var(--grayColor);
  position: relative;
  cursor: pointer;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  margin: 0;
}

.checkboxtoggle .labellp:after {
  position: relative;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease;
  border: 1px solid var(--grayColor);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  left: -4px;
  top: -5px;
}

.checkboxtoggle input:checked+.labellp {
  background: var(--accent2Color);
}

.checkboxtoggle input:checked+.labellp:after {
  left: 52%;
}

.checkbox {
  position: relative;
  user-select: none;
  margin-bottom: 10px;
}

.checkbox input {
  display: none;
}

.checkbox .labellp {
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 500;
  padding-left: 35px;
}

.checkbox .spanlp.box {
  display: inline-block;
  width: 20px;
  border-radius: var(--borderRadius);
  border: 1px solid var(--grayColor);
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 3px;
  transition: 0.3s ease;
  position: absolute;
  left: 0;
}

.checkbox .spanlp.box:before,
.checkbox .spanlp.box:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 16px;
  border-radius: 40px;
  background: var(--backgroundColor);
  transition: all 0.3s ease;
}

.checkbox .spanlp.box:before {
  transform: rotate(45deg) translateY(-5px) translateX(10px) scale(0);
}

.checkbox .spanlp.box:after {
  height: 8px;
  transform: rotate(-45deg) translateY(10px) translateX(-4px) scale(0);
}

.checkbox input:checked+.labellp .spanlp.box {
  background: var(--accent2Color);
  border-color: var(--accent2Color);
}

.checkbox input:checked+.labellp .spanlp.box:before {
  transform: rotate(45deg) translateY(-5px) translateX(10px) scale(1);
}

.checkbox input:checked+.labellp .spanlp.box:after {
  height: 8px;
  transform: rotate(-45deg) translateY(10px) translateX(-4px) scale(1);
}

.checkbox input:disabled:checked+.spanlp.box {
  background: var(--grayColor);
  border: var(--grayColor);
}

.checkbox input:disabled:checked~.labellp:before,
.checkbox input:disabled:checked~.labellp:after {
  background: black;
}

/*buttons & links*/
.links__sec {
  margin: 10px 0 30px;
}

.links a.link {
  display: inline;
  margin: 10px 30px 5px 0;
  border-bottom: 2px dashed;
  font-weight: 500;
  line-height: 2.5;
  cursor: pointer;
  color: var(--neutralShade5);
}

.links a.link:hover,
.links a.link.hover {
  color: var(--neutralShade6);
  border-bottom: 2px solid;
}

.links a.link.primary {
  color: var(--primaryColor);
}

.links a.link.primary:hover,
.links a.link.primary.hover {
  color: var(--primaryShade5);
}

.links a.link.secondary {
  color: var(--secondaryColor);
}

.links a.link.secondary:hover,
.links a.link.secondary.hover {
  color: var(--secondaryShade5);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.buttons>* {
  flex: 1 1 calc(50% - 20px);
  margin-top: 20px;
}

.buttons>*:nth-child(odd) {
  margin-right: 20px;
}

a.buttonlp,
input.buttonlp,
.buttonlp {
  outline: none;
  width: 100%;
  text-align: center;
  display: inline-block;
  border: none;
  font: 500 16px/1 "Poppins", sans-serif;
  padding: 20px;
  cursor: pointer;
  border-radius: var(--borderRadius);
  background: var(--primaryColor);
  color: var(--backgroundColor);
  position: relative;
  top: 0;
  transition: 0.2s ease;
}

a.buttonlp:hover,
a.buttonlp.hover,
input.buttonlp:hover,
input.buttonlp.hover,
.buttonlp:hover,
.buttonlp.hover {
  top: -3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

a.buttonlp:active,
a.buttonlp.active,
input.buttonlp:active,
.input.buttonlp.active,
.buttonlp:active,
.buttonlp.active {
  background: var(--primaryShade4);
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  top: 0;
}

a.buttonlp.disabled,
input.buttonlp.disabled,
.buttonlp.disabled {
  opacity: 0.4;
  user-select: none;
  pointer-events: none;
}

a.buttonlp.medium,
input.buttonlp.medium,
.buttonlp.medium {
  padding: 15px 18px;
  width: auto;
}

a.buttonlp.small,
input.buttonlp.small,
.buttonlp.small {
  padding: 10px 12px;
  width: auto;
  font-size: 14px;
  font-weight: 500;
}

a.buttonlp.secondary,
input.buttonlp.secondary,
.buttonlp.secondary {
  background: var(--secondaryColor);
}

a.buttonlp.secondary:active,
a.buttonlp.secondary:focus,
a.buttonlp.secondary.active,
input.buttonlp.secondary:active,
input.buttonlp.secondary:focus,
input.buttonlp.secondary.active,
.buttonlp.secondary:active,
.buttonlp.secondary:focus,
.buttonlp.secondary.active {
  background: var(--secondaryShade4);
  outline: none;
}

a.buttonlp.accent,
input.buttonlp.accent,
.buttonlp.accent {
  background: var(--accentColor);
}

a.buttonlp.accent:active,
a.buttonlp.accent:focus,
a.buttonlp.accent.active,
input.buttonlp.accent:active,
input.buttonlp.accent:focus,
input.buttonlp.accent.active,
.buttonlp.accent:active,
.buttonlp.accent:focus,
.buttonlp.accent.active {
  background: var(--accentShade4);
}

a.buttonlp.accent2,
input.buttonlp.accent2,
.buttonlp.accent2 {
  background: var(--accent2Color);
}

a.buttonlp.accent2:active,
a.buttonlp.accent2:focus,
a.buttonlp.accent2.active,
input.buttonlp.accent2:active,
input.buttonlp.accent2:focus,
input.buttonlp.accent2.active,
.buttonlp.accent2:active,
.buttonlp.accent2:focus,
.buttonlp.accent2.active {
  background: var(--accent2Shade4);
}

a.buttonlp.accent3,
input.buttonlp.accent3,
.buttonlp.accent3 {
  background: var(--accent3Color);
}

a.buttonlp.accent3:active,
a.buttonlp.accent3:focus,
a.buttonlp.accent3.active,
input.buttonlp.accent3:active,
input.buttonlp.accent3:focus,
input.buttonlp.accent3.active,
.buttonlp.accent3:active,
.buttonlp.accent3:focus,
.buttonlp.accent3.active {
  background: var(--accent3Shade4);
}

/*inputs*/
.input__wrapper {
  margin-bottom: 10px;
}


.labelform {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

input.inputform,
select,
textarea {
  height: 50px;
  font-size: 16px;
  border: 2px solid var(--neutralShade3);
  width: 100%;
  padding: 12px;
  font-family: "Poppins";
  border-radius: var(--borderRadius);
  color: var(--foregroundColor);
  background: var(--backgroundColor);
}

input.inputform:focus,
input.inputform.active,
select:focus,
select.active,
textarea:focus,
textarea.active {
  outline: none;
  border-color: var(--primaryColor);
}

input.inputform:disabled,
select:disabled,
textarea:disabled {
  cursor: not-allowed;
  background: var(--neutralShade1);
  opacity: 0.6;
}

input.inputform.input {
  height: 56px;
  font-size: 18px;
  padding: 15px;
}

/*badges*/
.badge {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 50px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
}

.alert {
  margin-bottom: 15px;
  display: block;
  padding: 10px 15px;
  border-radius: var(--borderRadius);
  font-weight: 500;
  position: relative;
  cursor: pointer;
}

.alert.non-collapsible:before,
.alert.non-collapsible:after {
  content: none;
}

.alert:before,
.alert:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 16px;
  border-radius: 40px;
  right: 30px;
  top: 8px;
}

.alert:before {
  transform: rotate(45deg) translateY(-5.5px) translateX(13.5px);
}

.alert:after {
  transform: rotate(-45deg) translateY(13.5px) translateX(5.5px);
}

.status-primary {
  background: var(--primaryShade1);
  color: var(--primaryShade5);
}

.status-primary:before,
.status-primary:after {
  background: var(--primaryShade5);
}

.status-secondary {
  background: var(--secondaryShade1);
  color: var(--secondaryShade5);
}

.status-secondary:before,
.status-secondary:after {
  background: var(--secondaryShade5);
}

.status-info {
  background: var(--accentShade1);
  color: var(--accentShade5);
}

.status-info:before,
.status-info:after {
  background: var(--accentShade5);
}

.status-success {
  background: var(--accent2Shade1);
  color: var(--accent2Shade5);
}

.status-success:before,
.status-success:after {
  background: var(--accent2Shade5);
}

.status-error {
  background: var(--accent3Shade1);
  color: var(--accent3Shade5);
}

.status-error:before,
.status-error:after {
  background: var(--accent3Shade5);
}

/*tooltips*/
.tooltip {
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.tooltip .spanlp {
  border-bottom: 1px dotted;
}

.tooltip:after {
  content: attr(data-tooltip);
  background: var(--neutralShade2);
  max-width: 90%;
  width: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  height: auto;
  font-size: 14px;
  padding: 10px;
  border-radius: var(--borderRadius);
  color: var(--foregroundColor);
  text-align: center;
}

.tooltip.dark:after {
  background: var(--neutralShade7);
  color: var(--backgroundColor);
}

.tooltip.top:after {
  bottom: 80%;
  transition: opacity 0.3s ease 0.3s, bottom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

.tooltip.top:hover:after,
.tooltip.top.hovered:after {
  bottom: 130%;
  opacity: 1;
}

.tooltip.bottom:after {
  top: 80%;
  transition: opacity 0.3s ease 0.3s, top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

.tooltip.bottom:hover:after,
.tooltip.bottom.hovered:after {
  top: 130%;
  opacity: 1;
}

/*spinner*/
.spinner+.labellp {
  font-size: 14px;
  font-weight: 500;
  margin-top: 8px;
  display: inline-block;
  text-transform: uppercase;
  color: var(--primaryShade4);
}

.spinner1 .spinner {
  max-width: 50px;
  margin: auto;
  height: 20px;
  position: relative;
}

.spinner1 .spinner:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -10%;
  background: var(--primaryColor);
  animation: spinnerLeftRight 1s infinite;
}

.spinner1 .spinner:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -10%;
  background: var(--primaryShade2);
  opacity: 1;
  animation: spinnerLeftRight 1s infinite 0.06s;
}

@keyframes spinnerLeftRight {
  0% {
    left: 85%;
  }

  50% {
    left: -10%;
  }

  100% {
    left: 85%;
  }
}


#sunset+.labellp {
  background: linear-gradient(to right, #ff9557 50%, #ffcc67 50%);
}

.mainlp {
  --canvasColor: #f9f9f9;
  --backgroundColor: #fff;
  --foregroundColor: #111;
  --primaryColor: #ff9557;
  --primaryShade1: #ffe2d1;
  --primaryShade2: #ffceb2;
  --primaryShade3: #ffb184;
  --primaryShade4: #e88850;
  --primaryShade5: #d17a48;
  --secondaryColor: #ffcc67;
  --secondaryShade1: #fff1d5;
  --secondaryShade2: #ffde9e;
  --secondaryShade3: #ffd074;
  --secondaryShade4: #e8ba5e;
  --secondaryShade5: #ba954b;
  --accentColor: #4e5166;
  --accentShade1: #cecfd5;
  --accentShade2: #aeafb9;
  --accentShade3: #8e909d;
  --accentShade4: #6e7081;
  --accentShade5: #404354;
  --accent2Color: #588b8b;
  --accent2Shade1: #c2d4d4;
  --accent2Shade2: #a3bfbf;
  --accent2Shade3: #85aaaa;
  --accent2Shade4: #507f7f;
  --accent2Shade5: #497272;
  --accent3Color: #fe5f55;
  --accent3Shade1: #fec4c1;
  --accent3Shade2: #fea7a2;
  --accent3Shade3: #fe7c73;
  --accent3Shade4: #e7574e;
  --accent3Shade5: #b9463e;
}



/* PROFILE CARDS */
.profile {
  position: relative;
  background: var(--backgroundColor);
  color: var(--foregroundColor);
  box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: .2s ease;
  display: grid;
  grid: 200px repeat(5, auto)/100%;
}

.profile__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 7px solid var(--secondaryColor);
}

.profile__info {
  padding: 20px 25px 0;
}

.profile__stats {
  padding: 5px 25px;
}

.profile__stats__title {
  color: var(--grayColor);
  text-transform: uppercase;
  font-size: 16px;
}

.profile__cta {
  padding: 0 25px 25px;
}

.profile a:hover {
  top: 0;
  box-shadow: none;
  background: var(--primaryShade4);
}

.profile a:active,
.profile a:focus {
  top: 0;
  box-shadow: none;
  background: var(--primaryShade5);
}

@media (min-width: 500px) {
  .profile-default {
    min-width: 500px;
    max-width: 450px;
    margin: auto;
    overflow: hidden;
    grid: 340px auto auto/repeat(3, minmax(80px, 1fr));
    grid-gap: 10px;
  }

  .profile-default .profile__image {
    grid-column: span 3;
  }

  .profile-default .profile__info {
    grid-column: span 3;
  }

  .profile-default .profile__stats {
    padding: 5px 25px;
  }

  .profile-default .profile__cta {
    grid-column: span 3;
  }
}

@media (min-width: 768px) {
  .profile-long {
    grid-template-columns: 150px repeat(3, 1fr) auto;
    grid-template-rows: auto auto;
    width: 100%;
    padding-right: 20px;
  }

  .profile-long .profile__image {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-right: 20px;
  }

  .profile-long .profile__image img {
    border-radius: 10px 0 0 10px;
    border: none;
  }

  .profile-long .profile__info {
    grid-column: 2 / 6;
    grid-row: 1;
    padding: 20px 20px 15px 0;
  }

  .profile-long .profile__stats {
    min-width: 100px;
    padding: 15px 0;
    border-top: 0.5px solid var(--grayColor);
    grid-row: 2 / 3;
  }

  .profile-long .profile__stats:nth-child(3) {
    grid-column: 2 / 3;
  }

  .profile-long .profile__stats:nth-child(4) {
    grid-column: 3 / 4;
  }

  .profile-long .profile__stats:nth-child(5) {
    grid-column: 4 / 5;
  }

  .profile-long .profile__cta {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
    border-top: 0.5px solid var(--grayColor);
    padding: 15px 0 0;
  }
}

.profile-imgonly {
  border-radius: 10px;
  overflow: hidden;
  min-width: 250px;
  width: 100%;
  grid: 480px 0px / 100%;
}

.profile-imgonly:hover {
  grid: 434px 56px / 100%;
}

.profile-imgonly .profile__image,
.profile-imgonly .profile__info {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.profile-imgonly .profile__image {
  position: relative;
}

.profile-imgonly .profile__image:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
}

.profile-imgonly .profile__image img {
  border: none;
}

.profile-imgonly .profile__stats {
  display: none;
}

.profile-imgonly .profile__info {
  z-index: 5;
  grid-row: 1 / 2;
  align-self: end;
  margin: 0 0 15px;
  color: #fff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.profile-imgonly .profile__info p {
  display: none;
}

.profile-imgonly .profile__cta {
  padding: 0;
}

.profile-imgonly .profile__cta a {
  border-radius: 0;
}

#dark:checked~.mainlp a.buttonlp,
#pinkaru:checked~.mainlp a.buttonlp {
  color: var(--foregroundColor);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#dark:checked~.mainlp .buttonlp:hover,
#pinkaru:checked~.mainlp .buttonlp:hover {
  background: var(--primaryShade2);
}

#dark:checked~.mainlp .buttonlp:active,
#pinkaru:checked~.mainlp .buttonlp:active {
  background: var(--primaryShade1);
}

#dark:checked~.mainlp .profile-default img,
#pinkaru:checked~.mainlp .profile-default img {
  border-bottom: 7px solid var(--secondaryShade5);
}

/*FILTERS*/
.filters__title {
  font-size: 18px;
  color: var(--grayColor);
  margin: 25px 0;
}

.filters__item {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 10px;
}

.filters__item .checkbox {
  position: relative;
  margin: 0;
}

.filters__item .checkbox .tooltip {
  display: inline-block;
  margin-left: 10px;
  width: auto;
  vertical-align: middle;
}

.filters__item .checkbox .tooltip .spanlp {
  border: none;
}

.filters__item .checkbox .tooltip:after {
  min-width: 100px;
  margin-left: -50px;
}

.filters:not(:first-of-type) {
  border-top: 0.5px solid var(--lightGrayColor);
  margin-top: 25px;
}

/* WELL CTA */
.well-cta {
  border-radius: 10px;
  background: var(--secondaryColor);
  color: var(--foregroundColor);
  overflow: hidden;
}

.well-cta__text {
  padding: 30px;
}

.well-cta__text p {
  font-size: 18px;
  line-height: 1.5;
}

.well-cta__text a {
  margin: 25px 0 0;
}

.well-cta__image {
  padding: 30px 0 0;
}

.well-cta img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  margin-bottom: -7px;
}

@media (min-width: 768px) {
  .well-cta {
    display: grid;
    grid: auto / 1fr 250px;
  }

  .well-cta__image {
    align-self: flex-end;
    padding: 15px 0 0;
  }
}

#bluepurple:checked~.mainlp .well-cta__text {
  color: var(--backgroundColor);
}

.well-cta--form {
  display: grid;
  grid-gap: 10px;
  padding: 30px;
  background: var(--primaryShade1);
  border-radius: 10px;
}

.well-cta--form__text {
  margin-bottom: 10px;
}

.well-cta--form h3 {
  color: var(--primaryShade5);
}

@media (min-width: 768px) {
  .well-cta--form {
    grid-template-columns: 1fr auto;
  }

  .well-cta--form__text {
    grid-column: span 2;
  }
}

/*TABLE*/
.table {
  background: var(--backgroundColor);
  border-radius: 10px;
}

.table__wrapper {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
}

.table tr {
  display: grid;
  grid: auto/80px 80px repeat(2, minmax(150px, 2fr)) repeat(2, minmax(120px, 1.5fr)) 50px;
  align-items: center;
}

.table td {
  padding: 15px;
}

.table__header {
  color: var(--neutralShade5);
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 0.5px solid var(--lightGrayColor);
}

.table__body tr:nth-child(even) {
  background: var(--neutralShade0);
}

#dark:checked~.mainlp .table__body tr:nth-child(even),
#pinkaru:checked~.mainlp .table__body tr:nth-child(even) {
  background: var(--neutralShade8);
}

/*FORMS*/
.formlogin {
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
  background: var(--backgroundColor);
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}

.formlogin .checkbox {
  margin-bottom: 30px;
}

.formlogin .spinner__wrapper {
  display: grid;
  place-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.85);
  opacity: 0;
  z-index: -1;
}

@media (min-width: 768px) {
  .formlogin {
    display: grid;
    grid: auto / 1fr 40%;
  }

  .formlogin .input__wrapper {
    grid-column: span 2;
  }

  .formlogin .checkbox {
    align-self: center;
    margin-bottom: 0;
  }
}

#dark:checked~.mainlp .spinner__wrapper,
#pinkaru:checked~.mainlp .spinner__wrapper {
  background: rgba(20, 20, 20, 0.85);
}

/*COMMENT ITEM*/
.comment {
  display: grid;
  grid: auto / 60px 1fr;
  grid-gap: 12px;
}

.comment__image {
  grid-row: 1 / 4;
}

.comment__image img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.comment__info h5 {
  margin-bottom: 0;
}

.comment__info h5 .spanlp {
  vertical-align: middle;
}

.comment__info h5 .badge {
  margin-left: 8px;
  font-size: 80%;
}

.comment__info h5 .badge i {
  font-size: 80%;
  margin-right: 6px;
}

.comment__info__time {
  color: var(--grayColor);
}

.comment__reaction i {
  margin-right: 8px;
  font-size: 85%;
}

.comment__reaction__heart {
  cursor: pointer;
  transition: .3s ease;
}

.comment__reaction__heart.toggled {
  color: var(--accent3Shade5);
  font-weight: 500;
}

/*PANEL*/
.panel {
  display: grid;
  grid: 200px auto min-content / 100%;
  border-radius: 10px;
  overflow: hidden;
  background: var(--backgroundColor);
  box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
  max-width: 480px;
  margin: auto;
}

.panel__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.panel__info {
  padding: 30px 30px 20px;
}

.panel__info h1 {
  margin-bottom: 25px;
}

.panel__info p {
  font-size: 20px;
  margin: 15px 0;
}

.panel__info .alert {
  font-weight: 300;
  margin-top: 30px;
}

.panel__cta {
  padding: 0 30px 30px;
  text-align: center;
}

footer {
  display: grid;
  grid: min-content / 1fr max-content;
  text-align: left;
  width: 90%;
  margin: 1em auto 4em;
  max-width: 1050px;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #333;
  padding: 3px 0;
  border-bottom: 1px dashed;
}

footer a:hover {
  border-bottom: 1px solid;
}

footer .social a {
  text-decoration: none;
  margin-left: 10px;
}

footer .social a .icons {
  display: inline-block;
  font-size: 20px;
}

footer.dark,
footer.dark a {
  color: #f9f9f9;
}




/*typography 2*/
.logoHR {
  color: #000;
}

.logoh1wp {
  color: #242331;

}

.logoh1wp h1 {
  font: 700 48px/1.2 "Poppins", sans-serif;
  margin-bottom: 10px;
}

.logoh1wp h2 {
  font: 700 32px/1.2 "Poppins", sans-serif;
  margin-bottom: 10px;
}

.logoh1wp h3 {
  font: 700 24px/1.2 "Poppins", sans-serif;
  margin-bottom: 10px;
}

.logoh1wp h4 {
  font: 700 20px/1.2 "Poppins", sans-serif;
  margin-bottom: 10px;
}

.logoh1wp h5 {
  font: 500 18px/1.2 "Poppins", sans-serif;
  margin-bottom: 10px;
}

.logoh1wp h6 {
  font: 500 16px/1.2 "Poppins", sans-serif;
  text-transform: uppercase;
}


.stonglp {
  font-weight: 500;
}

.emlp {
  font-style: italic;
}

.h1lp {
  font: 700 48px/1.2 "Poppins", sans-serif;
  margin-bottom: 10px;
}

.h2lp {
  font: 700 32px/1.2 "Poppins", sans-serif;
  margin-bottom: 10px;
}

.h3lp {
  font: 700 24px/1.2 "Poppins", sans-serif;
  margin-bottom: 10px;
}

.h4lp {
  font: 700 20px/1.2 "Poppins", sans-serif;
  margin-bottom: 10px;
}

.h5lp {
  font: 500 18px/1.2 "Poppins", sans-serif;
  margin-bottom: 10px;
}

.h6lp {
  font: 500 16px/1.2 "Poppins", sans-serif;
  text-transform: uppercase;
}

.apierrort {
  font: 700 20px/1.2 "Poppins", sans-serif;
  margin-bottom: 10px;
}

.apierrort::first-letter {
  text-transform: uppercase;
}


.coverprc img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.befcoverprc {
  z-index: 2;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wavesNav {

  bottom: 0;

}

.postNavWaves {
  background-color: #F0F2F5;
  height: 100%;
}

.waves {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 80vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}


/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}



.ClockDashboard {
  float: right;
  font: 700 26px/1.2 "Poppins", sans-serif;
  margin-bottom: 10px;
  margin: 12px;
  z-index: 9999;
}