@post_card_general_border-rd: 7px;
@post_card_wrapper_shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
@post_card_wrapper_actions_backgroud: rgb(235, 235, 235);
@post_card_wrapper_actions_icon_backgroud: #fff;

@post_card_wrapper_tags_color_default: rgb(249, 179, 64);
@post_card_wrapper_tags_color_nsfw: #111;
@post_card_wrapper_tags_color_flag: #111;

@post_card_wrapper_post_content_color: #555555;
@post_card_wrapper_post_content_weight: 400;
@post_card_wrapper_post_content_fontSize: 15px;
@post_card_wrapper_post_content_letterSpacing: -0.3px;

@post_card_flaggedWarning_backgroud: #ffffff60;
@post_card_flaggedWarning_padding: 20px 15px 25px 15px;
@post_card_flaggedWarning_iconSize: 40px;