.addableSelectListSelector {
	> div {
		margin-bottom: 10px;
	}

	.item {
		h1 {
			margin: 0;
		}

		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;

		> div {
			margin-right: 10px;
		}
	}
}

.addableSelectList {
    #delete {
        border-radius: 4px;
    }

    .item {
        background-color: var(--background-color-primary);
    }

    .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        > div {
            margin-right: 6px;
        }
    }

    > div {
        margin-bottom: 10px;
    }
}