.postingDashboard {
    display: grid;

    grid-template-columns: 10vw 1fr 0.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;

    width: 100%;

    .panel {
        position: sticky;
        top: 0;

        height: fit-content;

        display: flex;
        flex-direction: column;

        align-items: center;

        >div {
            margin-bottom: 15px;
        }

        .card {
            background-color: var(--background-color-accent);
            border-radius: 12px;
            padding: 20px;

            min-width: 20vw;

            h1,
            h2 {
                font-family: "Space Grotesk", sans-serif;
            }
        }
    }

    .ant-menu {
        svg {
            margin-right: 0 !important;
        }
    }
}