.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;

    width: 100%;

    .panel {
        display: flex;
        flex-direction: column;

        align-items: center;

        >div {
            margin-bottom: 15px;
        }

        .card {
            background-color: var(--background-color-accent);
            border-radius: 12px;
            padding: 20px;

            min-width: 20vw;
        }
    }
}