.notifications_icon {
	display: inline-flex;
	flex-direction: row;

	align-items: center;

	gap: 5px;

	.notifications_icon_indicator {
		display: inline-flex;
		flex-direction: row;

		align-items: center;
		justify-content: center;

		background-color: var(--colorPrimary);

		width: 15px;
		height: 15px;
		border-radius: 12px;

		span {
			font-size: 10px;
		}
	}

	span {
		font-size: 1rem;
		line-height: 1rem;
	}
}
