@import '~themes/index.less';

.__ControlBar {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 30;
}

.primary_layout {
    overflow: hidden;
    background-color: @primary_layout_backgroud;
    margin: auto;
    &.mobile{
      >.primary_layout_container {
        border-radius: 0;
        margin: 0;
        padding: 0;
        overflow-y: overlay;
        overflow-x: hidden;
      }
      .primary_layout_content{
        padding: 35px 15px 15px 15px;
      }
    }
}

// PRIMARY LAYOUT 
.primary_layout_container {
  transition: background-color @__Global_layout_transitions-dur linear;
  background-color: @primary_layout_container_backgroud;
  border-radius: @primary_layout_container_border-rd;

  overflow-x: hidden;
  margin: 0 0 0 10px;
  width: 100vw;
  height: 100vh;
  
  position: relative;
  bottom: 0;
  align-self: center;
  float: left;
}

.primary_layout_content {
  vertical-align: middle;
  width: 100%;
  float: right;
  padding: @primary_layout_content_padding;
  transition: all @__Global_layout_transitions-dur ease;
}
