@import '~theme/index.less';

// PRIMARY LAYOUT 
.primary_layout_container {
  background-color: transparent;
  transition: all @__Global_Components_transitions_dur linear;

  overflow-x: hidden;
  // overflow-y: overlay;

  width: auto;
  height: 100%;
  
  position: relative;
  bottom: 0;
  display: flex;
  align-self: center;
 
  max-width: 750px;
  min-width: 570px;

  @media (min-width: @bp-medium) {
    min-width: 650px; 
  }
  @media (min-width: @bp-large) {
    min-width: 850px;
  }

  &.interfaced{
    height: calc(100% - @AppTheme_global_winavbar_height);
  }

}

.primary_layout_content {
  vertical-align: middle;
  width: 100%;
  padding: @primary_layout_content_padding;
  transition: all @__Global_layout_transitions-dur ease;

  @media (max-width: @bp-medium) {
    padding: 0;
  }
}
