@import '~themes/index.less';

.__ControlBar {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 30;
  &.mobile{
    top: 0;
    bottom: unset;
  }
}

.primary_layout {
    background-repeat: repeat-x;
    background-size: cover;
    background-position-y: center;

    overflow: hidden;
    background-color: transparent;
    margin: auto;
    height: 100vh;
    width: 100vw;

    transition: all @__Global_Components_transitions_dur linear;
  
    &.mobile{
      >.primary_layout_container {
        padding: 0;
        overflow-y: overlay;
        overflow-x: hidden;
        min-width: unset;
      }
      .primary_layout_content{
        padding: 35px 15px 15px 15px;
      }
    }
}

// PRIMARY LAYOUT 
.primary_layout_container {
  background-color: transparent;
  transition: all @__Global_Components_transitions_dur linear;

  overflow-x: hidden;
  // overflow-y: overlay;

  width: auto;
  height: 100vh;
  
  position: relative;
  bottom: 0;
  display: flex;
  align-self: center;
 
  max-width: 750px;
  
  min-width: 570px;

  @media (min-width: @bp-medium) {
    min-width: 650px; 
  }
  @media (min-width: @bp-large) {
    min-width: 850px;
  }

}

.primary_layout_content {
  vertical-align: middle;
  width: 100%;
  padding: @primary_layout_content_padding;
  transition: all @__Global_layout_transitions-dur ease;

  @media (max-width: @bp-medium) {
    padding: 0;
  }
}
