.splash_wrapper {
    overflow: hidden;
	background-color: #f0f2f5;

    width: 100%;
    height: 100%;
    z-index: 100;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}


.splash_logo {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    img {
        width: fit-content;
        max-width: 50%;
        max-height: 50%;
        filter: drop-shadow(14px 10px 10px rgba(70, 70, 70, 0.5));
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}