@import '~themes/vars.less';
.cardWrapper{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    max-width: 510px;
    min-width: 265px;
    width: auto;
    margin: 23px auto 50px auto;
    :global{
        .ant-card-meta-detail > div:not(:last-child){
            margin: 0
        }
        .ant-card {
            border-radius: 7px;
            border: 0;
            border-top: 1px solid #4646460c;
        }
        .ant-card-body {
           padding: 13px 0 5px 0;
        }
        .ant-card-actions {
            border-top: 0;
            background: #EBEBEB;
            opacity: 0;
            height: 30px;
            position: relative;
            transition: opacity 150ms linear, position 150ms linear, transform 150ms linear;
            border-radius: 0 0 10px 10px;
        }
        .ant-card-actions:hover {
            opacity: 1;
            transform: translate(0, 15px);
            transition: opacity 150ms linear, position 150ms linear, transform 150ms linear;
        }
        .ant-card-actions > li {
            margin: -20px 0 0 0 ;
            border-right: 0;
            i{
               
             vertical-align: middle;
             height: 40px;
             width: 40px;
             background-color: #fff;
             border-radius: 24px;
            }
            svg {
                height: 20px;
                width: 20px;
                height: 100%;
                vertical-align: middle;
            }
        }
    }
}
.titleIcon{
    background-color: rgba(134, 134, 134, 0.171);
    border-radius: 24px;
    width: 45px;
    height: 45px;
   
    position: absolute;
    left: -8px;
    top: -8px;
    display: flex;
    :global{
        .anticon{
            width: 100%;
            height: 100%;
            line-height: unset;
            font-size: 35px;
            vertical-align: middle;
            text-align: center;
        }
    }
}
.titlecreate{
    display: flex;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 0 50px;
}
.shareWith{
    display: flex;
    font-size: 10px;
    margin: 0 0 0 53px;
}
.postContent{
    display: flex;
    border-radius: 3px;
    margin: 23px 24px 23px 24px;
    h3{
        color: rgb(85, 85, 85);
        font-weight: 470;
    }
}
.postContentFILE{
    display: flex;
    margin: 23px 0 5px 0;
    max-height: 600px;
    overflow: hidden;
    img {
        width: calc(100% + 30px);
        overflow: hidden;
        margin: auto;
    }
    video {
        max-height: 600px;
        width: calc(100% + 30px);
        overflow: hidden;
    }
    h3{
        color: rgb(85, 85, 85);
        font-weight: 470;
    }
}
.likebtn{
   :global{
       svg{
        color:rgba(0, 0, 0, 0.45);
       }
       svg:hover{
           color: rgb(233, 35, 68);
           transition: all 0.2s linear;
       }
   }
}

.ellipsisIcon{
    width: 100%;
    position: absolute;
    text-align: center;
    margin: auto;
    font-size: 30px;
    transition: opacity 150ms linear;
}
.ellipsisIcon:hover{
    opacity: 0;
    transition: opacity 150ms linear;
}

.inputWrapper{
    display: flex;
    z-index: 10;
    width: 100%;
    padding: 18px 7px 0 7px;
    transition: height 150ms linear;
    :global{
        .ant-btn-primary {
            border-radius: 0 10px 10px 0;
            height: 100%;
            vertical-align: bottom;
            border: none;
            box-shadow: none;
        }
        .ant-input {
            border-color: #1890ff;
            box-shadow: none;
            border-radius: 3px 0 0 0;
            height: 100%;
            padding: 5px 10px 5px 10px;
            transition: height 150ms linear;
            width: 100%;
            textarea{
                resize: none; 
            }
        }
        .ant-input:hover{
            border-color: #1890ff;
        }
        .ant-input-affix-wrapper{
            height: 100%;
        }
    }
}
.progressHandler{
    margin: 0 7px 0 7px;
  
    :global{
        .ant-progress-bg{
            border-radius: 0 0 10px 10px;
        }
        .ant-progress-inner{
            border-radius: 0 0 14px 14px;
            width: calc(100% - 32px);
            vertical-align: top;
        }
    }
}
.postExtra{
    width: 100%;
    
    display: flex;
    :global{
        .ant-btn{
            margin: auto;
            
        }
    }
}


.proccessUnset{
    opacity: 0;
    transition: opacity 250ms linear;
    animation: proccessUnset 250ms linear;
}
.proccessSet{
    transition: opacity 250ms linear;
    animation: proccessSet 250ms linear;
}
@keyframes proccessSet {
   0% { opacity: 0; }
   100% { opacity: 1; }
}
@keyframes proccessUnset {
    0% { opacity: 1; }
    100% { opacity: 0; }
 }
  
 .fontct{
     font-family: "Poppins", sans-serif;
 }