@import "theme/vars.less";

.drawer {
	height: 100vh;
	max-height: 100vh;

	.pageTitle {
		position: sticky;
		background-color: var(--background-color-primary);
		top: 0;
		z-index: 100;
		height: @app_header_height;

		padding: 10px 20px;

		.ant-page-header{
			height: 100%;
			padding: 0;
		}
		.ant-page-header-heading{
			height: 100%;
			margin: 0!important;
		}
		.ant-page-header-heading-left {
			height: 100%;
			margin: 0!important;
		}
	}

	.body {
		z-index: 99;

		position: relative;

		padding: 20px 30px;
		height: 100vh - @app_header_height;
		width: 100%;
	}

	&.mobile {
		.body {
			padding: 20px 15px;
		}
	}
}

.ant-drawer-content,
.ant-drawer-wrapper-body,
.ant-drawer-body {
	height: 100vh;
	max-height: 100vh;
}
