.drawer {
	.body {
		position: absolute;
		top: 50px;

		padding: 30px 10px 10px 10px;
		background-color: var(--background-color-primary);
		width: 100%;
		max-width: 700px;
		min-height: 100%;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}

	.body::before{
		content: "";
		background-color: var(--background-color-contrast);
		width: 100px;
		height: 8px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 8px;
	}
}