@import '~themes/index.less';

// .left_sider*

@left_sider_color: #333;
@left_sider_sizeIcons: 19px;
@left_sider_menu__onhover_backgroud: rgb(80, 80, 80);
@left_sider_menu__onhover_color: rgb(80, 80, 80);