div {
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header-text-color);
}

a, p {
    color: var(--text-color);
}

i {
    color: var(--text-color);
}

span:not(.ant-tag) {
    color: var(--text-color);
}

svg:not(.ant-tag *) {
    color: var(--svg-color);
}

input, .ant-input-affix-wrapper, .ant-input {
    color: var(--text-color)!important;
    background-color: var(--background-color-accent);
}

input:disabled{
    background-color: var(--background_disabled);
}

// MODAL
.ant-modal-content {
    background-color: var(--background-color-accent)!important;
}

// TABLE
tr {
    background-color: var(--background-color-accent)!important;
}

.ant-table, .ant-table-content, .ant-table-thead, .ant-table-cell {
    background-color: var(--background-color-accent);
}

.ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    background-color: var(--background-color-contrast);
}

// MENU
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected  {
    background-color: var(--background-color-primary);
}

// BUTTONS
.ant-btn:not(.ant-btn-link) {
    background-color: var(--button-background-color);
}

.ant-btn span{
    color: var(--button-text-color)!important;
}

.ant-btn svg {
    color: var(--button-text-color)!important;
}

// DRAWER
.ant-page-header span {
    color: var(--text-color);
}

.ant-drawer-content {
    background: var(--background-color-primary);
    background-color: var(--background-color-primary);
}