name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write
  attestations: write
  contents: write
  issues: write
  discussions: write
  pull-requests: write

jobs:
  build_app:
    name: Build App
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"

      - name: Install dependencies
        run: |
          npm install
          npm i @rollup/rollup-linux-x64-gnu
        working-directory: ./packages/app

      - name: Build App
        run: npm run build
        working-directory: ./packages/app

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-dist
          path: ./packages/app/dist/

  build_server:
    name: Build Server
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ragestudio/comty-server
          tags: |
            type=semver,pattern={{version}}
            type=raw,value=latest

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./packages/server
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  create_release:
    name: Create GitHub Release
    needs: [build_app, build_server]
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download App Artifact
        uses: actions/download-artifact@v4
        with:
          name: app-dist
          path: ./app-release-files

      - name: Zip Artifact
        run: zip -r dist.zip ./app-release-files

      - name: GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist.zip
          name: Release ${{ github.ref_name }}
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        draft: false
        prerelease: false
        fail_on_unmatched_files: true
