.room {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    gap: 30px;
    
    .room_views {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: space-evenly;

        width: 100%;

        height: 30vh;

        padding: 20px 50px;

        background-color: var(--background-color-accent);

        border-radius: 12px;

        &.one {
            justify-content: center;
        }

        .participant_video {
            height: 100%;

            video {
                border-radius: 8px;

                height: 100%;
            }
        }
    }

    .text_room {
        border-radius: 12px;
        padding: 0 20px;
    }
}