.music_panel_creator {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 20px;

    .music_panel_releases_header {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: space-between;

        width: 100%;

        h1 {
            margin: 0;
        }

        .music_panel_releases_header_actions {
            display: flex;
            flex-direction: row;

            align-items: center;
            justify-content: flex-end;

            .ant-btn {
                margin-left: 10px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    .music_panel_releases_list {
        display: flex;
        flex-direction: column;

        width: 100%;

        padding-bottom: 20px;

        .music_panel_releases_item {
            display: flex;
            flex-direction: row;

            align-items: center;
            justify-content: space-between;

            background-color: var(--background-color-accent);

            border-radius: 8px;

            padding: 10px;

            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            .music_panel_releases_info {
                display: flex;
                flex-direction: row;

                .music_panel_releases_info_cover {
                    display: flex;
                    flex-direction: column;

                    align-items: center;
                    justify-content: center;

                    margin-right: 10px;

                    border-radius: 8px;

                    img {
                        width: 100px;
                        height: 100px;

                        border-radius: 8px;

                        object-fit: cover;
                    }
                }

                .music_panel_releases_info_title {
                    display: flex;
                    flex-direction: column;

                    h1 {
                        margin: 0 !important;
                    }
                }
            }

            .music_panel_releases_actions {
                display: flex;
                flex-direction: column;

                margin-left: 10px;

                .ant-btn {
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.music-explorer_search_results {
    display: grid;

    // if only need 1 column, it will be 1fr
    // if need 2 colums, first column will be 1fr, and the second one will be 2fr
    grid-template-columns: 1fr 2fr;

    // auto generate rows
    grid-template-rows: auto;

    grid-column-gap: 20px;
    grid-row-gap: 20px;

    &.one_column {
        grid-template-columns: 1fr;
    }

    &.no_results {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }

    .music-explorer_search_results_group {
        background-color: var(--background-color-accent);

        padding: 20px;

        border-radius: 8px;

        height: fit-content;

        gap: 20px;

        .explorer_search_results_group_header {
            h1 {
                margin: 0;
            }
        }

        .music-explorer_search_results_group_list {
            display: flex;
            flex-direction: column;

            gap: 10px;

            .playlistItem {
                background-color: var(--background-color-primary);
            }

            .music-track {
                background-color: var(--background-color-primary);
            }
        }
    }
}